ion-view.setup-page
    //ion-nav-bar
        ion-nav-back-button
    //.buttons(side='left')
        button.button.button-clear.no-animation.nav-clear-back-button(ng-click="$ionicGoBack()")
            i.ion-chevron-left
    ion-content.main-container(style='top: 0;')
        br
        h1.start-message.gateway-title Setup your devices
        .device-div
            a(ui-sref='{{vm.goToEditUrl(device)}}', ng-repeat='device in vm.devices | orderBy: "zone"', ng-class='vm.edited[device.id] && vm.edited[device.id].done ? "button abode-button after-childs device-setup-button" : "button abode-button after-childs"')
                img.device-left-icon(ng-if='vm.edited[device.id] && vm.edited[device.id].done', ng-src='assets/img/Add Door or windows sensor/check mark.png')
                | {{device.name || device.type}}
        .new-device-separator
        h3(style='width: 100%; text-align: center; font-size: 18px; color: #979797;') Optional
        .button.abode-button.after-childs(style='background-color: #7DA8BE; border-color: #7DA8BE;', ui-sref='setupDeviceAddCamera')
            | Streaming Camera
            img.new-device-streaming-button-img(ng-src='assets/img/device_icons/question_mark.png')
        div(style='height: 80px;')
    a(ng-class='vm.editedTotal >= vm.devices.length ? "button abode-button addcam-continue-btn-enable" : "button abode-button addcam-continue-btn"', ng-click='vm.openApp()') Continue