ion-view.quick-actions(view-title='Quick Actions')
    ion-content
        div(online-status)
        .gateway-offline-banner(ng-if="gateway.online != '1'", ng-click='openOfflineSupportWebsite()')
            | Gateway Offline - Click to Troubleshoot
        ion-list
            div(ng-repeat="rule in rules | filter: { type: 'manual'}")
                ion-item(ng-class="rule.select_item ? 'item-icon-right quickaction-animation-item' : 'item-icon-right quickaction-item'", ng-click='selectRule(rule)')
                    | {{rule.name}}
                    i.icon(ng-class="isGroupShown(rule) ? (rule.select_item? 'ion-ios-arrow-up quickaction-right-icon item-anim-selected' : 'ion-ios-arrow-up item-anim quickaction-right-icon')  : (rule.select_item? 'ion-ios-arrow-down item-anim-selected quickaction-right-icon' : 'ion-ios-arrow-down item-anim quickaction-right-icon')", ng-click='showSubRulesClick(rule, $event)')
                    ion-spinner.quickaction-spinner(icon='circles', ng-if='rule.apply_inprogress')
                ion-item.item-accordion.quickaction-sub-item(ng-if='rule.show_subitems')
                    .quickaction-button-div(ng-repeat='summaryDevices in ar.summaryArr')
                        button(ng-class="rule.selectedIndex==$index ? 'abode-item-div selected abode-button' : 'abode-item-div abode-button'")
                            h3(ng-class="rule.selectedIndex==$index ? 'quickaction-sub-title-desc selected' : 'quickaction-sub-title-desc'")  {{summaryDevices.summaryString}}
                            ion-spinner.quickaction-spinner.sub-spinner(icon='circles', ng-show='0')
        button.abode-outline-button.button(ng-click='onClickNewAction()')
            | + New Quick Action
        .abode-separator(ng-if='devices.length > 0')
            h3.quickaction-desc Individual Devices
            .list.abode-devices-list()
                li.abode-devices-item.item.item-toggle(ng-repeat='device in devices', ng-if='device.hasRec || device.hasToggle || device.hasSlider' ng-class="{'grey':device.status == 'Offline', 'blue':device.hasRec}" ng-click="onCameraRequestClick(device)")
                    | {{device.name || device.type}}
                    .abode-device-right()
                        label.abode-device-right-toggle.toggle(ng-if="device.hasToggle || device.hasSlider", ng-class="device.toggleModel ? 'toggle-balanced' : 'toggle-assertive'")
                            input(type="checkbox", ng-change="changeStatus(device)", ng-model='device.toggleModel')
                            .track
                                .handle
                        i.abode-device-right-icon(ng-if="device.hasRec" ng-class="device.typeTag == 'device_type.ir_camera' ?'ion-camera':'ion-ios-videocam'")
