ion-view
    //.buttons(side='left')
        button.button.button-clear.no-animation.nav-clear-back-button(ng-click="$ionicGoBack()")
            i.ion-chevron-left
    ion-content.main-container()
        .register-image-view.profile-start(style='height: 175px;')
        div(style='margin-top:10%;')
            label.abode-underline-label.gateway-desc-label.item.item-input(style='border:none;') Tell us about yourself...
            label.abode-underline-label.item.item-input(style='margin-top:10px;')
                input.gateway-desc-input(type='text', placeholder='Full Name', ng-model='vm.user.fullName', style='text-transform: capitalize;')
            label.abode-underline-label.item.item-input(style='margin-top:10px;')
                input.gateway-desc-input(type='tel', placeholder='Phone', ng-model='vm.user.phone')
        div(style='margin:10% 0 5%;')
            label.abode-underline-label.gateway-desc-label.item.item-input(style='border:none;') Where will the system be installed?
            label.abode-underline-label.item.item-input(style='margin-top:10px;')
                input.gateway-desc-input(type='text', placeholder='Address', ng-model='vm.user.address')
            label.abode-underline-label.item.item-input(style='margin-top:10px;')
                input.gateway-desc-input(type='text', placeholder='City', ng-model='vm.user.city')
            .tow-in-one-line-div.row
                label.abode-underline-label.twoLeft.col(style='border-width: 1px; border-color: #ddd;')
                    angucomplete#ex1(placeholder='State', pause='100', selectedobject='vm.user.state', localdata='vm.states', searchfields='name', titlefield='name', minlength='1', inputclass='form-control form-control-small gateway-desc-input', matchclass='highlight')
                label.abode-underline-label.twoRight.col(style='border-width: 1px; border-color: #ddd;')
                    .tow-in-one-line-small-div
                        input.gateway-desc-input(type='number', placeholder='Zip', ng-model='vm.user.zip')
        a.button.abode-button(ng-click='vm.editProfile(vm.user)') Continue