ion-view
    .main-container
        ion-content(style='top: 0px;')
            .register-image-view
                img.register-logo(ng-src='assets/img/login/abode-login-Logo.png', align='center')
            h2.start-message Let’s Get Started
            .list.list-inset
                label.item.item-input
                    input(type='email', placeholder='Email', ng-model='vm.user.email')
                label.item.item-input
                    input(type='password', placeholder='Password', ng-model='vm.user.password')
            .button.abode-green-button(ng-click='vm.signIn(vm.user)') Sign In
            div(style='text-align: center;')
                .button.button-clear.button-light#signin-forgot-button(ng-click='vm.remindPassword(vm.user)') Forgot Password?
        .list.card#card-create-account
            h5.signin-description Don’t have an account...
            .button.abode-button(ui-sref='register') Create Account