ion-refresher(pulling-text='New Devices...', on-refresh='vm.doRefresh()')
.list.abode-devices-list(ng-init='vm.devicesInit()')
    li.abode-devices-item.item.item-toggle(ng-repeat='device in vm.devices', ng-if='!$last', ng-class='{"warning": device.fault.battery || device.fault.supervision || device.fault.outOfOrder || device.fault.control}')
        img.abode-devices-icon-left(ng-src="{{vm.url(device.icon)}}")
        h2 {{device.name || device.type}}
        p(style='margin: 0;font-size:12px;', ng-if='device.fault.battery|| device.fault.supervision || device.fault.outOfOrder || device.fault.control')
            span(ng-show='device.fault.battery') Low Battery &nbsp;
            //span(ng-show='device.fault.tampered') Tampered &nbsp;
            span(ng-show='device.fault.supervision || device.fault.control') Not Connected to Gateway &nbsp;
            span(ng-show='device.fault.outOfOrder') Out of Order &nbsp;
        .abode-device-right(style='width: 50px;text-align: center;')
            label.abode-device-right-toggle.toggle(ng-if="device.hasToggle || device.hasSlider", ng-class="device.toggleModel ? 'toggle-balanced' : 'toggle-assertive'")
                input(type="checkbox", ng-change="vm.changeStatus(device)", ng-model='device.toggleModel')
                .track
                    .handle
            img.abode-device-right-icon(style='height: 40px;margin: -4px 0;', ng-if="!(device.statusIcons.length == '0')", ng-hide="device.hasToggle || device.status == 'Offline' || device.status == 'Online'", ng-src="{{device.status == 'Closed' && vm.url(device.statusIcons.Closed || device.statusIcons.LockClosed) || vm.url(device.statusIcons.Open || device.statusIcons.LockOpen)}}")
            span.abode-device-right-note(ng-if="device.status == 'Online' || device.status == 'Offline' || device.hasTemp", ng-hide="device.hasRec || device.hasToggle", ng-class="device.status == 'Online' ? 'green' : ''") {{device.status}}
                span.deviceTemp.ion-thermometer(ng-if="device.hasTemp && (device.status != 'Online' && device.status != 'Offline')") °F
            button.abode-device-right-button(ng-if='device.hasRec', ng-class="device.typeTag == 'device_type.ir_camera' ?'ion-camera':'ion-ios-videocam'", ng-click="vm.onCameraRequestClick(device)")