//
  <ion-nav-bar class="bar-light transparent-nav" style="background:none; border-bottom: none">
  <ion-nav-back-button class="button-icon ion-ios-arrow-left">
  </ion-nav-back-button>
  </ion-nav-bar>
ion-view(view-title='Cloud DVR Subscription', ng-init='')
    ion-nav-bar
        ion-nav-buttons(side='left')
            button.button.button-clear.no-animation.nav-clear-back-button(ng-click='onBackClick()')
                i.ion-chevron-left(style='color: #979797;')
    ion-content(scroll='false')
        // <div class="main-container" >
        .gateway-img-div
            img.img-welcome-logo.gateway-main-img(src='assets/img/Add Streaming Camera/streaming camera.png')
        ion-scroll(directioin='y', style='height: 80%')
            .scription-card.list.list.card
                .scription_item.item(ng-click='onClickItem(cont)')
                    h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-caption selected' : 'scription-caption'") Live Stream Only
                    h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-caption-desc selected' : 'scription-caption-desc'", ng-if='$index==1') MOST POPULAR
                    .scription-right-container
                        h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-right-big selected' : 'scription-right-big' ") Free
                        h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-right-small selected' : 'scription-right-small'")  Year
            .scription-card.list.list.card
                .scription_item.item(ng-click='onClickItem(cont)')
                    h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-caption selected' : 'scription-caption'") 7 Day Recording
                    h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-caption-desc selected' : 'scription-caption-desc'", ng-if='$index==1') MOST POPULAR
                    .scription-right-container
                        h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-right-big selected' : 'scription-right-big' ") $99
                        h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-right-small selected' : 'scription-right-small'")  Year
            .scription-card.list.list.card
                .scription_item.item(ng-click='onClickItem(cont)')
                    h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-caption selected' : 'scription-caption'") 30 Days Recording
                    h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-caption-desc selected' : 'scription-caption-desc'", ng-if='$index==1') MOST POPULAR
                    .scription-right-container
                        h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-right-big selected' : 'scription-right-big' ") $299
                        h2(ng-class="($index == 1 || cont.selected == true) ? 'scription-right-small selected' : 'scription-right-small'")  Year
        div(style='width: 100%; height: 20%; bottom: 0; position:absolute; box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3); background-color: white;')
            h2.scription-content-title.select-status(ng-if='selected_method != null')  {{selected_method.name}} selected
            a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='onSubscriptionContinueClick()')
                | Continue
        // </div>
