<!-- <ion-nav-bar class="bar-light transparent-nav" style="background:none; border-bottom: none">
      <ion-nav-back-button class="button-icon ion-ios-arrow-left">
      </ion-nav-back-button>
</ion-nav-bar>
 -->
<ion-view view-title="">
  <!-- <ion-content> -->
    <!-- <ion-nav-buttons side="left">
        <button class="button button-clear no-animation nav-clear-back-button" ng-click="$ionicGoBack()">
            <i class="ion-chevron-left" style="color: #979797;"></i> 
        </button>  
    </ion-nav-buttons> -->

    <div class="main-container" >
      
      <!-- <h1 class="start-message gateway-title"> Welcome to abode! </h1>
      <h2 class="start-message gateway-desc"> Follow this Tutorial and get up and running in 5 minutes </h2> -->

      <h1 class="start-message gateway-title"> Add Devices </h1>
      
      <div class="device-div" style="margin-top: 10%;">
        <button class="button abode-button device-setup-button" >
            <img class="device-left-icon" src="assets/img/Add Door or windows sensor/check mark.png" />
            Door/Window Sensor A
        </button>

        <button class="button abode-button after-childs device-setup-button" >
            <img class="device-left-icon" src="assets/img/Add Door or windows sensor/check mark.png" />
            Door/Window Sensor B
        </button>

        <button class="button abode-button after-childs device-setup-button" >
            <img class="device-left-icon" src="assets/img/Add Door or windows sensor/check mark.png" />
            Motion Camera
        </button>

        <button class="button abode-button after-childs device-setup-button" >
            <img class="device-left-icon" src="assets/img/Add Door or windows sensor/check mark.png" />
            Streaming Camera
        </button>

        
      </div>

      <a class="button abode-button" style="bottom:15px; position:absolute;" href="#/addmotioncam6">
          Continue
      </a>

    </div>
    
  <!-- </ion-content> -->
</ion-view>
