button.abode-nav-button.blue.button.no-animation(ui-sref='alert')
    img.abode-nav-button-image(src='assets/img/Quick Actions/alerts-icon.png')
    h3.abode-nav-button-title.blue-button-title  Alerts
    span.badge.badge-danger(ng-show='$root.counter') {{$root.counter}}