ion-nav-bar
    ion-nav-buttons(side='left')
        div(quick-action-bar-left='')
    ion-nav-buttons(side='right')
        div(quick-action-bar-right='')
ion-tabs.tabs-icon-top.tabs-color-active-positive
    // Dashboard Tab
    ion-tab(title='Quick Actions', icon-off='tab-quick-action-off', icon-on='tab-quick-action-on', href='#/tab/quickaction')
        ion-nav-view(name='tab-quickaction', animation='slide-left-right')
    // Chats Tab
    ion-tab(title='Status', icon-off='tab-status-off', icon-on='tab-status-on', href='#/tab/status')
        ion-nav-view(name='tab-status', animation='slide-left-right')
    // Account Tab
    ion-tab(title='Settings', icon-off='tab-settings-off', icon-on='tab-settings-on', href='#/tab/settings')
        ion-nav-view(name='tab-settings', animation='slide-left-right')
