button.abode-nav-button.button.no-animation(ng-class='{"grey": $root.gateway.online != "1", "green": $root.gateway.online == "1"}', ng-click='changeModePopup($event)')
    img.abode-nav-button-image(ng-if="$root.gateway && $root.gateway.online == '1'", src='assets/img/Quick Actions/standby-icon.png')
    img.abode-nav-button-image(ng-if="$root.gateway && $root.gateway.online != '1'", src='assets/img/gateway_status/gateway_offline.png')
    h3.abode-nav-button-title(style='text-transform: capitalize;') {{$root.gateway.mode.area_1}}
    span.badge.badge-danger(style='background-color: grey;', ng-if='$root.vm.timer') {{$root.vm.timer}}