<script src="cordova.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.6.js"></script>
<!-- build:js vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({app}) app.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- inject:partials -->
<!-- endinject -->
<!-- endbuild -->
