head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    meta
    <!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="assets/style.css"/>
    <link rel="stylesheet" href="assets/angucomplete.css"/>
    <!-- build:css({.tmp}) css/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="main.css"/>
    <!-- endinject -->
    <!-- endbuild -->