ion-view
    .main-container
        ion-slide-box(show-pager='true' auto-play='true', slide-interval='2000')
            ion-slide(ng-repeat='slide in vm.slides')
                .content-wrapper
                    .image-wrapper
                        img.img-welcome-logo(ng-src='{{slide.imageSrc}}')
                    .box.blue
                        h3.welcome-message(ng-bind-html='slide.title')
        .sign-buttons
            .row
                .col.center-text-button
                    button.button.button-clear.button-light#reg-button(ui-sref='register') Register
                .col.center-text-button
                    button.button.button-clear.button-light#signin-button(ui-sref='signin') Sign In