ion-view(view-title='Video')
    ion-nav-bar
        ion-nav-buttons(side='left')
            button.button.button-clear.no-animation.nav-clear-back-button(ng-click='$ionicGoBack()')
                i.ion-chevron-left(style='color: #979797;')
        //ion-nav-buttons(side='right')
    ion-content
        div(online-status)
        video(style='width: 100%;', controls, autoplay='', poster='{{config.sources.poster}}')
            source(ng-src='{{config.sources.src}}', type='{{config.sources.type}}')