ion-view
    ion-nav-bar
        ion-nav-back-button(style='display: block;', ui-sref='alert')
        ion-nav-title
            div(ng-if='vm.alertResult != "0"') {{vm.alertsList[0].date}} {{vm.alertsList[0].time}}
            div(ng-if='vm.alertResult == "0"')
                b(style='color: red;') Your alarm is active!
    ion-content(ng-class="vm.alertResult == '0' ? 'has-footer': ''")
        ion-slide-box.videocams(style='padding:0;', ng-if="vm.cameraCounter && vm.alertResult == '0'")
            //&& vm.alertResult == '0'
            ion-slide(ng-if='vm.streamPreparing')
                .item(style='padding:0;text-align:center;min-height: 170px;background:url("assets/img/camera-loader.png");background-size: cover;background-position: 50%;background-repeat: no-repeat;')
                div.footer(style='background: rgba(0,0,0,0.3);position: absolute;bottom: 0;width: 100%;height: 35px;z-index:2;')
                    h4.item-camera-title(style='margin: 0;line-height: 30px;') Loading...
            ion-slide(ng-repeat='camera in vm.videoCams')
                .item(style='padding:0;text-align:center;min-height: 150px;background:url("assets/img/camera-loader.png");background-size: cover;background-position: 50%;background-repeat: no-repeat;')
                    img(ng-src='{{vm.streamUrl | ifEmpty: camera.sel_event.image_path}}', style="width: 100%;z-index: 3;")
                div.footer(style='background: rgba(0,0,0,0.3);position: absolute;bottom: 0;width: 100%;height: 35px;z-index:2;')
                    h4.item-camera-title(style='margin: 0;line-height: 30px;') {{camera.device_name}}
                //div(style='position: absolute;bottom: 0;right: 0;padding: 5px;z-index: 2;', ng-if='!vm.streamUrl') Loading Live Camera...
                .stream-live-mark(style='z-index:3;', ng-if='vm.streamUrl') LIVE
        .alarm_detail_main_desc Here's what happened...
        .list.alert-details
            .item.item-avatar.alarm_list_item(ng-repeat='val in vm.alertsList', ng-class='{"active": $index == 0 && vm.alertResult == 0}' ng-init="vm.getUserInfo(val.user_id)")
                .alarm_list_item_img_div(style='border-color: {{val.color}}')
                    img.alarm_list_item_img(ng-src='{{vm.url(val.icon)}}', ng-if='!val.user_id')
                    img.user.alarm_list_item_img(ng-src='{{vm.user[val.user_id].profile_pic}}', ng-if='val.user_id', style='width:100%;height:100%;')
                .alarm_list(ng-if='val.file_is_del != 0')
                    .alarm_list_item_content
                        h2 {{val.event_type}} Event Deleted
                .alarm_list(ng-if='val.file_is_del == 0')
                    .alarm_list_item_content
                        h2(style='color: {{val.color}}') {{val.device_name}}
                            | {{val.event_type}}&nbsp;
                            span(style="color: #666", ng-if="val.user_id") {{vm.user[val.user_id].name}}
                        p(am-time-ago='val.event_time')
                        p @ {{val.time}}
                        p(ng-if="val.app_type") - {{val.app_type}}
                        video(style='width: 100%;display: block;', controls, preload='metadata', ng-attr-poster='{{vm.imgUrl(val.file_path)}}', ng-if='val.file_path && val.device_type_id == "69"')
                            source(ng-src='{{vm.url(val.file_path)}}', type='video/mp4')
                    div(ng-if='val.file_count <= "1" && val.file_path && val.device_type_id == "27"')
                        .alarm_list_capture_div
                            img.alarm_list_capture_img(ng-src='{{vm.imgUrl(val.file_path)}}', ng-click='openModal(vm.imgUrl(val.file_path))')
                    div(ng-if='val.file_count > "1"', ng-repeat='file in val.files')
                        .alarm_list_capture_div
                            img.alarm_list_capture_img(ng-if='val.device_type_id == "27"', ng-src='{{file.file_path}}')
            .item.item-avatar.alarm_list_item(style='line-height: 40px;', ng-if='vm.alertResult == "0" && vm.refresh')
                .alarm_list_item_img_div(style='border:none;')
                    img.alarm_list_item_img(ng-src='assets/preloader.gif', style='max-width: 100%;max-height: 100%;top: 0;left: 0;')
                .alarm_list
                    .alarm_list_item_content
                        div Loading Timeline...
    .bar.bar-footer.alarm-footer(ng-if="vm.alertResult == '0'")
        .button.abode-green-button.alarm_red(ng-show='vm.userDetails.plan_id != "2"', ng-click='vm.callPolice()') Call Police
        .button.abode-green-button.alarm_red(ng-show='vm.userDetails.plan_id == "2"', ng-click='vm.verifyAlarm()') Verify Alarm
        .button.abode-green-button.alarm_green(ng-click='vm.disableAlarm()') Disable Alarm