ion-view(view-title='Your alarm is going off')
    ion-nav-bar
        ion-nav-buttons(side='left')
            button.button.button-clear.no-animation.nav-clear-back-button(ng-click='$ionicGoBack()')
                i.ion-chevron-left(style='color: #979797;')
    ion-content(scroll='false')
        div(style='width:100%; height:30%;')
            img.item-camera-img(ng-src='./img/alert/alarm_main_img.png')
        h2.alarm_main_desc  Here's what happend...
        ion-scroll(direction='y', scrollbar-y='false', style='height: 45%;')
            div(style='width:100%; height:100%;')
                section#alarm-timeline
                    .list(style='background: transparent;')
                        a.item.item-avatar.alarm_list_item(href='#', ng-repeat='alarm_item in alarms')
                            img.alarm_list_item_img(ng-src='{{alarm_item.icon}}')
                            .alarm_list_item_content(align='right')
                                h2 {{alarm_item.title}}
                                p {{alarm_item.date}}
                            .alarm_list_capture_div(ng-if='alarm_item.type==2', align='right')
                                img.alarm_list_capture_img(ng-src='{{img_url.url}}', ng-repeat='img_url in alarm_item.imgs')
        .card.alarm_card_div
            .row.alarm_table_div
                a.button.abode-green-button.alarm_red(ng-click='onCallPoliceClick()')
                    | Call Police
                a.button.abode-green-button.alarm_green(ng-click='onDisableClick()')
                    | Disable Alarm
