ion-view(view-title='Status')
    ion-content(scroll='false')
        .gateway-offline-banner(ng-if="vm.gateway.online != '1'", ng-click='vm.openOfflineSupportWebsite()')
            | Gateway Offline - Click to Troubleshoot
        .row(style='padding:0;')
            a(ng-class="vm.click_tab=='timeline' ? 'status-tab-buttons selected col button-light button' : 'status-tab-buttons col button-light button'", ng-click="vm.tabClick('timeline')")
                | Timeline
            a(ng-class="vm.click_tab=='cameras' ? 'status-tab-buttons selected col button-light button' : 'status-tab-buttons col button-light button'", ng-click="vm.tabClick('cameras')")
                | Cameras
            a(ng-class="vm.click_tab=='devices' ? 'status-tab-buttons selected col button-light button' : 'status-tab-buttons col button-light button'", ng-click="vm.tabClick('devices')")
                | Devices
        .reestablishing-connection-banner(ng-if="vm.gateway.showBanner != '1' && vm.gateway.online == '1'")
            | Reestablishing Connection
        ion-content(style="{{vm.gateway.online == '1' ? 'margin-top:40px;' : 'margin-top:76px;'}}")
            div(online-status)
            div(ui-view='', name='status-view', style='width:100%; height:100%;')
