//
  <ion-nav-bar class="bar-light transparent-nav" style="background:none; border-bottom: none">
  <ion-nav-back-button class="button-icon ion-ios-arrow-left">
  </ion-nav-back-button>
  </ion-nav-bar>
ion-view(view-title='Add Door/Window Sensor')
    // <ion-content>
    ion-nav-bar
        ion-nav-buttons(side='left')
            button.button.button-clear.no-animation.nav-clear-back-button(ng-click='$ionicGoBack()')
                i.ion-chevron-left(style='color: #979797;')
    .main-container
        //
          <h1 class="start-message gateway-title"> Welcome to abode! </h1>
          <h2 class="start-message gateway-desc"> Follow this Tutorial and get up and running in 5 minutes </h2>
        .gateway-img-div(style='margin-top: 20%;')
            img.img-welcome-logo.gateway-main-img(src='./img/Add Door or windows sensor/Add Window Sensor.png')
        label.abode-underline-label.gateway-desc-label.item.item-input
            // <input type="text" placeholder="First Name">
            | Label Your Door Sensor
        label.abode-underline-label.item.item-input(style='margin-top:10px;')
            input.gateway-desc-input(type='text', placeholder='e.g. Front Door ', ng-model='door_sensor_name')
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='onDoorWindowSaveClick()')
            | Continue
    // </ion-content>
