//
  <ion-nav-bar class="bar-light transparent-nav" style="background:none; border-bottom: none">
  <ion-nav-back-button class="button-icon ion-ios-arrow-left">
  </ion-nav-back-button>
  </ion-nav-bar>
ion-view(view-title='')
    // <ion-content>
    //
      <ion-nav-buttons side="left">
      <button class="button button-clear no-animation nav-clear-back-button" ng-click="$ionicGoBack()">
      <i class="ion-chevron-left" style="color: #979797;"></i>
      </button>
      </ion-nav-buttons>
    .main-container(ng-init="checkSensorDevice('Door Contact')")
        h2.start-message.gateway-desc-small
            | Press and Hold the button on the
            br
            | Sensor for 10 seconds, then release.
        .gateway-img-div(style='height:30%; padding-top: 5%;')
            img.img-welcome-logo.gateway-small-img(src='./img/Add Door or windows sensor/Add Door Sensor.png')
        h2.start-message.gateway-desc-small  Searching for Device...
        br
        ion-spinner.gateway-spinner
    // </ion-content>
