ion-view(view-title='Other Devices')
    ion-nav-bar
        ion-nav-back-button
    ion-content(scroll='false')
        .list
            a.item.item-icon-right.list_item_text_color(ng-click='onClickNotification("new Device")')
                i.icon.ion-ios-arrow-right.list_item_right_icon_color
                |         Locks
            a.item.item-icon-right.list_item_text_color(ng-click='onClickNotification("new Device")')
                i.icon.ion-ios-arrow-right.list_item_right_icon_color
                |         Cameras
            a.item.item-icon-right.list_item_text_color(ng-click='onClickNotification("new Device")')
                i.icon.ion-ios-arrow-right.list_item_right_icon_color
                |         Power Control
            a.item.item-icon-right.list_item_text_color(ng-click='onClickNotification("new Device")')
                i.icon.ion-ios-arrow-right.list_item_right_icon_color
                |         Environmental Sensors
            a.item.item-icon-right.list_item_text_color(ng-click='onClickNotification("new Device")')
                i.icon.ion-ios-arrow-right.list_item_right_icon_color
                |         Other
