ion-view(view-title='Settings')
    ion-content
        div(online-status)
        .gateway-offline-banner(ng-if="gateway.online != '1'", ng-click='vm.openOfflineSupportWebsite()')
            | Gateway Offline - Click to Troubleshoot
        div
            .settings-profile-div.item.item-avatar
                img.settings-profile-photo(ng-src='{{vm.user.profile_pic}}')
                h2 {{vm.user.first_name}} {{vm.user.last_name}}
                p(style='font-size:12px;') {{vm.user.email}}
                //button.blue.button.no-animation.settings-upload-photo(ng-click='onPhotoUpload()')
                    | Upload Photo
        .list
            a.settings-item.item.item-icon-left(nav-direction='forward', ui-sref='settingsSubscription')
                .settings-img-div
                    img.settings-button-ctrl.icon-img-change-plan(src='assets/img/Settings/change_plan.png')
                h2.settings-item-text  Change Plan
            .settings-item.item.item-icon-left(ng-if='vm.iosDevice')
                .settings-img-div
                    label.toggle.toggle-balanced.settings-button-ctrl.tog_control
                        input(type='checkbox', ng-model='vm.settings.touchId', ng-change='vm.settingsUpdate("touchId", vm.settings.touchId)')
                        .settings-track-list.track
                            .settings-handle-list.handle
                h2.settings-item-text.disabled(ng-if='!vm.settings.touchId') Touch ID: Disabled
                h2.settings-item-text.selected(ng-if='vm.settings.touchId') Touch ID: Enabled
            .settings-item.item.item-icon-left(ng-init='location.checked=false')
                .settings-img-div
                    label.toggle.toggle-balanced.settings-button-ctrl.tog_control
                        input(type='checkbox', ng-model='vm.settings.location', ng-change='vm.settingsUpdate("location", vm.settings.location)')
                        .settings-track-list.track
                            .settings-handle-list.handle
                h2.settings-item-text.disabled(ng-if='!vm.settings.location') Location Features : Disabled
                h2.settings-item-text.selected(ng-if='vm.settings.location') Location Features : Enabled
            a.settings-item.item.item-icon-left(nav-direction='forward', ui-sref='settingsAddDevices')
                .settings-img-div
                    img.settings-button-ctrl.icon-img(src='assets/img/Settings/new_device.png')
                h2.settings-item-text  Add a New Device
            a.settings-item.item.item-icon-left(ng-click='onClickVolume()')
                .settings-img-div
                    img.settings-button-ctrl.icon-img(src='assets/img/Settings/alarm_vol.png')
                h2.settings-item-text  Alarm Volume
            a.settings-item.item.item-icon-left(ng-click='onClickNotification("new Notifications")')
                .settings-img-div
                    img.settings-button-ctrl.icon-img(src='assets/img/Settings/notification.png')
                h2.settings-item-text  Manage Notification
            a.settings-item.item.item-icon-left(onclick='window.open("https://support.goabode.com/success/s/", "_blank")')
                //(href='http://support.goabode.com', target='_blank')
                .settings-img-div
                    img.settings-button-ctrl.icon-img(src='assets/img/Settings/product_sup.png')
                h2.settings-item-text  Product Support
            a.settings-item.item.item-icon-left(ng-click='vm.tutorialShow()')
                .settings-img-div
                    img.settings-button-ctrl.icon-img(src='assets/img/Settings/take_tour.png')
                h2.settings-item-text  Quick Tour
            a.settings-item.item.item-icon-left(ng-click='vm.logOut()')
                .settings-img-div
                    img.settings-button-ctrl.icon-img(src='assets/img/Settings/logout.png')
                h2.settings-item-text  Logout
