ion-view(view-title='Alerts')
    ion-nav-bar
        ion-nav-back-button(style='display: block;', ui-sref='tab.status.timeline')
    ion-content(scroll='false')
        .row(style='padding:0;')
            .col.button.button-light.status-tab-buttons(ng-class='{"selected": vm.tab == 0}', ng-click='vm.selectTab(0)') Pending
            .col.button.button-light.status-tab-buttons(ng-class='{"selected": vm.tab == 1}', ng-click='vm.selectTab(1)') History
        ion-content(style='margin-top:41px;')
            div(online-status)
            .list.alert-list(ng-show='vm.tab == 0')
                .item.tab-list-item.alerts_list_item(ng-show='!vm.newAlerts && vm.loadStop')
                    h2 No Pending Alarms
                    p Please select 'History' tab for past alarms.
                .item.tab-list-item.alerts_list_item.item-avatar.item-icon-right(ng-repeat='val in vm.alarmGroupList', ng-if='val.verified_by_tid == 0', ui-sref='alertDetails({id: "{{val.id}}", by: "{{val.verified_by_tid}}"})')
                    .list_icon_div(style='border-color: #ff0000; background-color: #ff0000')
                        img.list_icon_image(ng-src="{{vm.url(val.icon) | ifEmpty:'https://my.goabode.com/assets/images/svg/unknown.svg'}}")
                    h2.alerts_list_item_title_big
                        b(style='color: red;') {{val.label}}
                    p.alerts_list_item_title_small {{val | abode_date_format}}
                    i.icon.ion-ios-arrow-right
            .list.alert-list(ng-show='vm.tab == 1')
                .item.tab-list-item.alerts_list_item.item-avatar.item-icon-right(ng-repeat='val in vm.alarmGroupList', ng-if='val.verified_by_tid != 0', ui-sref='alertDetails({id: "{{val.id}}", by: "{{val.verified_by_tid}}"})')
                    .list_icon_div
                        img.list_icon_image(ng-src="{{vm.url(val.icon) | ifEmpty:'https://my.goabode.com/assets/images/svg/unknown.svg'}}")
                    h2.alerts_list_item_title_big Alarm {{val.verified_code == '4000' ? 'Verified' : 'Ignored'}}
                    //{{val.label}}
                    p.alerts_list_item_title_small {{val | abode_date_format}}
                    i.icon.ion-ios-arrow-right
            ion-infinite-scroll(on-infinite='vm.init()', ng-if='!vm.loadStop', distance='1%')