ion-refresher(pulling-text='New Cameras...', on-refresh='vm.doRefresh()')
div(style='width:100%; height:100%;')
    .list(style='background: transparent; ')
        a.tab-list-item.item(ng-repeat='camera in vm.cameras', ng-click='vm.onCameraClick($index)', style='margin-bottom: 5px;border: none;min-height: 150px;overflow: hidden;padding:0;background-image: url({{(camera.stream == "0") ? "assets/img/image-loader.png" : "assets/img/video-loader.png"}}); background-repeat: no-repeat; background-size: cover; background-position: 50%;')
            div.footer(style='background: rgba(0,0,0,0.3);position: absolute;bottom: 0;width: 100%;height: 35px;')
                h2.item-camera-title(style='margin: 0;line-height: 30px;')  {{::camera.name||camera.type}}
                img.item-camera-status(style='right: 10px;bottom: 10px;', src='assets/img/device_icons/device_online.png', ng-if="camera.status=='Online' && vm.gatewayOnline == '1'")
                img.item-camera-status(style='right: 10px;bottom: 10px;', src='assets/img/device_icons/device_offline.png', ng-if="camera.status!='Online' || vm.gatewayOnline != '1'")
            img.item-camera-play(src='assets/img/timeline_icons/video_play.png', ng-if="camera.stream == '1' && camera.status=='Online' && camera.last_event.files[0].thumbnailPath")
            img.item-camera-img(ng-src='{{camera.last_event.image_path}}', ng-if="camera.stream == '0'")
            //| ifEmpty: "assets/img/device_icons/noimage.png"
            img.item-camera-img(ng-src='{{camera.last_event.files[0].thumbnailPath}}', ng-if="camera.stream == '1'")
            //| ifEmpty: "assets/img/device_icons/thumb-padrao-video.png
