ion-view
    ion-nav-bar
        ion-nav-back-button.light
    .main-container
        ion-content(style='top: 0px;')
            .register-image-view
                img.register-logo(ng-src='assets/img/login/abode-login-Logo.png', align='center')
            h2.start-message Let’s Get Started
            .list.list-inset
                .item.item-input
                    input(type='email', placeholder='Email', ng-model='vm.user.email')
                .item.item-input
                    input(type='password', placeholder='Password', ng-model='vm.user.password')
                .item.item-input
                    input(type='password', placeholder='Confirm Password', ng-model='vm.user.password2')
            .button.abode-button(ng-click='vm.register(vm.user)') Create Account
        h5.register-description
            | By tapping on “create account” you agree with our&nbsp
            a(onclick='window.open("https://support.goabode.com/success/s/article/TOU", "_blank")') Terms and Conditions
            | &nbsp;and&nbsp;
            a(onclick='window.open("https://support.goabode.com/success/s/article/privacy-policy", "_blank")') Privacy Policy.