ion-view(view-title='Add a New Device')
    ion-nav-bar
        ion-nav-back-button(nav-direction='backward', style='display: block;')
    ion-content
        div
            img.img-welcome-logo.new_device(style='max-width: 30%;', src='assets/img/login/abode-Logo.png')
        br
        .device-div
            .button.abode-button.after-childs(ui-sref='setupDeviceAddContact') Door/Window Sensor
            .button.abode-button.after-childs(ui-sref='setupDeviceAddMotion') Motion Camera
            .button.abode-button.after-childs(ui-sref='setupDeviceAddCamera') Streaming Camera
    .bar.bar-footer.other-device-card(style='border: none;background-image: url("assets/img/Settings/other_devices.png");background-size: cover;')
        h2.other-device-text(ui-sref='settingsAddDevicesOther')  Other Devices >
