ion-view(view-title='{{camera.name}}')
    ion-nav-bar
        ion-nav-back-button(style='display: block;', ui-sref='tab.status.cameras')
        ion-nav-buttons(side='right')
            button.camera_detail_nav_right.online.button.button-clear.no-animation(ng-if="camera.status=='Online'")
                | Online
            button.camera_detail_nav_right.offline.button.button-clear.no-animation(ng-if="camera.status=='Offline'")
                | Offline
    ion-content()
        div(online-status)
        div(style='width:100%; height:30%;')
            .item(style='padding:0 ;', ng-if="camera.stream == '0'")
                img.item-camera-play(src='assets/img/timeline_icons/video_play.png', ng-if="camera.stream=='1'")
                img.item-camera-img(ng-src="{{camera.sel_event.image_path | ifEmpty: 'assets/img/camera_images/screen-capture1.png'}}" ng-click='openModal()')
            .item(style='padding:0;', ng-if="camera.stream == '1'")
                img(ng-show='streaming && errorCounter == 0  && image_loaded == 1', ng-src='{{url1 | ifEmpty: camera.sel_event.image_path}}', img-load='onImageLoad(1)', img-error='onImageError(1)', style='width:100%;', ng-if='history_visible == 0', ng-click='openModal()')
                .stream-live-mark(ng-show="camera.stream == '1' && history_visible == 0  && image_loaded == 1")  LIVE
        .list
            // <h4 style="margin-left:5%; color: #525969"> History </h4>
            .row
                .col
                    h4(style='margin-left:5%; color: #525969')  History
                //ion-spinner(icon='ios', ng-if='showSpinner')
                .col(align='right')
                    button.camera-request-btn.blue.button.no-animation(ng-click='onCameraRequestClick(camera)', style="{{camera.stream =='1' ? 'width: 140px' : 'width: 115px'}}")
                        img.camera-request-btn-image(ng-src="{{camera.stream == '1' ? 'assets/img/camera_images/request_video.png' : 'assets/img/camera_images/take_photo.png'}}")
                        h3.camera-request-btn-title  {{camera.stream == '1' ? 'Request Video' : 'Take Photo'}}
            //
              <div class="item item-divider" style="font-size: 14px;">
              Today, May 5th
              </div>
            a.camera_history_item.item.item-avatar.item-icon-right(ng-repeat='event in camera.event_list', ng-click='onClickCameraEvent(event)')

                img.camera_history_item_img(ng-src='{{event.image_path}}', ng-if="camera.stream == '0'")
                img.camera_history_item_img(ng-src='{{event.files[0].thumbnailPath}}', ng-if="camera.stream == '1'")
                p {{event | abode_date_format}}
                h2 {{event.time}}
                i.icon.ion-ios-arrow-right(style='color: #CACACA;')
            //
              <a class="camera_history_item item item-avatar item-icon-right" href="#" >
              <img ng-src="{{camera.img}}" class="camera_history_item_img">
              <p>Today, May 5th</p>
              <h2>11:25:33 AM</h2>
              <i class="icon ion-ios-arrow-right" style="color: #CACACA;"></i>
              </a>
