ion-view
    ion-nav-bar
        ion-nav-back-button
    //.buttons(side='left')
        button.button.button-clear.no-animation.nav-clear-back-button(ng-click="$ionicGoBack()")
            i.ion-chevron-left
    ion-content.main-container(scroll='false', style='top: 0;')
        h2.start-message.gateway-desc-small(style='margin-left: 12%; margin-right: 12%;')
            | Connect the Ethernet Cable
            br
            |  to your Router
        .gateway-img-div(style='margin-top:15%')
            img.img-welcome-logo.gateway-small-img(src='assets/img/welcome/Connect ethernet cable.png', style='width: 50%;')
        a.button.abode-button(style='bottom:15px; position:absolute;', ui-sref='setupGateway3')
            | Continue