ion-view
    ion-nav-bar
        ion-nav-back-button
    //.buttons(side='left')
        button.button.button-clear.no-animation.nav-clear-back-button(ng-click="$ionicGoBack()")
            i.ion-chevron-left
    ion-content.main-container(scroll='false', style='top: 0;')
        h2.start-message.gateway-desc-small
            | Connecting your Gateway
            br
            |  Should only be a minute...
        .gateway-img-div(style='height:40%; padding-top: 20%;')
            img.img-welcome-logo.gateway-small-img(src='assets/img/welcome/connecting gateway.png')
        a.abode-button.gateway-button-outline.button.button-light(style='bottom:15px; position:absolute;', ui-sref='setupGateway3')
            | Cancel