ion-view
    ion-nav-bar
        ion-nav-back-button
    //.buttons(side='left')
        button.button.button-clear.no-animation.nav-clear-back-button(ng-click="$ionicGoBack()")
            i.ion-chevron-left
    ion-content.main-container(style='top: 0;')
        br
        h1.start-message.gateway-title  Welcome to abode!
        h2.start-message.gateway-desc  Follow this Tutorial and get up and running in 5 minutes
        .gateway-img-div
            img.img-welcome-logo.gateway-main-img(src='assets/img/welcome/welcome-to-abode-01.png')
        div()
            h3.start-message.gateway-invalid-id(ng-if='vm.errType==1')  {{vm.errMessage}}
            h3.start-message.gateway-invalid-id(ng-if='vm.errType==2')  Gateway Activation Key is already in Use
            h3.start-message.gateway-confirm-id(ng-if='vm.errType==0')  Gateway Key Confirmed
        label.abode-underline-label.gateway-desc-label.item.item-input
            // <input type="text" placeholder="First Name">
            | Enter your Gateway Activation Key
        label.abode-underline-label.item.item-input(style='margin-top:10px;')
            input.gateway-desc-input(type='text', placeholder='Gateway Activation Key', ng-model='vm.user.gatewayCode', style='text-transform: uppercase;')
    a.button.abode-button(style='bottom:15px; position:absolute;', ng-if='vm.errType!=0', ng-click='vm.enterCode(vm.user)')
        | Continue
    //a.button.abode-button(style='bottom:15px; position:absolute;', ng-if='vm.errType==0', ng-click='vm.setupGateway()')
        //ui-sref='setupGateway3'
        | Continue
