ion-view
    ion-nav-bar
        ion-nav-back-button
    //.buttons(side='left')
        button.button.button-clear.no-animation.nav-clear-back-button(ng-click="$ionicGoBack()")
            i.ion-chevron-left
    ion-content.main-container(scroll='false', style='top: 0;')
        h2.start-message.gateway-desc-small
        .gateway-img-div(style='height:60%; margin-top: 20%;')
            img.img-welcome-logo.gateway-small-img(src='assets/img/onboarding/abode_manual.png', style='padding-left:2%;')
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.setupGateway()') Continue