ion-view
    ion-nav-bar
        ion-nav-back-button
    //.buttons(side='left')
        button.button.button-clear.no-animation.nav-clear-back-button(ng-click="$ionicGoBack()")
            i.ion-chevron-left
    ion-content.main-container(scroll='false', style='top: 0;')
        h2.start-message.gateway-desc-small  Plugin in the Gateway
        .gateway-img-div(style='height:25%')
            img.img-welcome-logo.gateway-small-img(src='assets/img/welcome/Plug in the gateway.png', style='padding-left:2%;')
        h2.start-message.gateway-desc-small
            | Flip the switch to activate the
            br
            |  Battery Backup
        .gateway-img-div(style='height:25%')
            img.img-welcome-logo.gateway-small-img(src='assets/img/welcome/flip swtich to activate - battery backup.png', style='padding-top: 10%; padding-bottom: 10%;')
        a.button.abode-button(style='bottom:15px; position:absolute;', ui-sref='setupGateway2-1') Continue
