ion-view
    ion-nav-bar
        ion-nav-back-button
    //.buttons(side='left')
        button.button.button-clear.no-animation.nav-clear-back-button(ng-click="$ionicGoBack()")
            i.ion-chevron-left
    ion-content.main-container(scroll='false', style='top: 0;')
        h1.start-message.gateway-title(style='margin-top:15%; margin-bottom:15%;')  Success!
        .gateway-img-div(style='height:30%; margin-top:20%; margin-left:5%;')
            img.img-welcome-logo.gateway-small-img(src='assets/img/welcome/Gateway connected.png')
        h3.start-message.gateway-confirm-id  Gateway Connected
        br
        h2.start-message.gateway-desc-small(style='margin-top: 0%;')
            | Next we'll connect your
            br
            |  devices to the Gateway.
        a.button.abode-button(style='bottom:15px; position:absolute;', ui-sref='setupDevices')
            | Continue