/*
*  ------------ First Welcome Screen ------------
*/

.main-container {
  width: 100%;
  height: 100%;
  ion-slide {
    .content-wrapper {
      height: 100%;
      .image-wrapper {
        height: 80%;
        .img-welcome-logo {
          width: auto;
          height: 100%;
          padding-top: 20%;
          padding-bottom: 20%;
          margin: auto;
          display: block;
        }
      }
      .box.blue {
        h3.welcome-message {
          font-size: 22px;
          font-weight: lighter;
          text-align: center;
          margin-left: 10%;
          margin-right: 10%;
        }
      }
    }
    &:nth-child(1) {
      .content-wrapper {
        .image-wrapper {
          height: 55%;
        }
      }
    }
    &:nth-child(2) {
      .content-wrapper {
        .image-wrapper {
          .img-welcome-logo {
            padding-top: 15%;
            padding-bottom: 5%;
          }
        }
      }
    }
  }

  .sign-buttons {
    bottom: 20px;
    position: absolute;
    width: 100%;
    .col.center-text-button {
      text-align: center;
      #signin-button {
        color: #6ECADE;
        font-size: 18px;
      }
      #reg-button {
        color: #9B9B9B;
        font-size: 18px;
      }
    }
  }
}