.quick-actions {
  ion-content {
    .abode-separator {
      margin: 6% 5%;
      width: 90%;
      .list.abode-devices-list {
        li.abode-devices-item {
          padding: 15px 75px 15px 10px;
          //border: none;
          //background: #6ECADE;
          border-radius: 5px;
          //color: #fff;
          margin-bottom: 7px;
          pointer-events: auto;
          &.grey {
            background-color: #e0e0e0;
          }
          &.blue {
            background-color: #9AD5EA;
            color: #fff;
            border: none;
          }
          .abode-device-right {
            top: 10px;
            &-icon {
              position: absolute;
              right: 6px;
              font-size: 36px;
              top: -3px;
            }
          }
        }
      }
    }
  }
}