/*
* ------------ Register Screen ------------
*/

.main-container {
  .register-image-view {
    width: 100%;
    height: 27%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url("../assets/img/login/logo-bg.png") no-repeat;
    background-size: cover;
    position: relative;
    img.register-logo {
      width: 40%;
      display: block;
      top: 50%;
      left: 50%;
      position: absolute;
      margin: 0;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
  }
  .start-message {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    margin-top: 15px;
    color: #525969;
  }
  .list.list-inset {
    margin: 10px;
  }
  h5.register-description {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    bottom: 5px;
    position: absolute;
    margin: 5% 13%;
    color: #525969;
  }
}