.subscription {
  .content {
    overflow: auto;
    height: 100%;
    > .scroll {
      padding: 0 0 55px;
    }
    .credit-card-info-wrapper {
      background-color: #FAFAFA;
      p.title {
        margin: 0;
      }
      label.item.item-input {
        border-style: solid none;
        background: transparent;
        padding-left: 0;
        input {
          font-size: 16px;
          line-height: 35px;
          padding-left: 10px;
        }
      }
      .row {
        padding: 0;
        label.item.item-input {
          border-style: none none solid;
          .plus-border-right {
            border-right: 1px solid #ddd;
          }
        }
      }
      .per-time {
        margin-top: 15px;
        background-color: #95A5A5;
        border-radius: 5px;
        padding: 10px;
        .row {
          h5 {
            margin: 0;
            text-transform: capitalize;
            color: #fff;
            font-weight: 500
          }
          p {
            margin: 0;
            color: #fff;
            font-size: 8px;
          }
        }
        &-bottom {
          padding: 10px 0 0;
          margin-top: 10px;
          border-top: 1px solid #ddd;
        }
      }
    }
  }
  .image-wrapper {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    img {
      max-width: 25%;
    }
    h6 {
      margin: 0;
      color: #9B9B9B;
    }
  }
  select {
    background: none;
    box-shadow: none;
    border: none;
    color: #111;
    width: 100%;
    height: 100%;
  }
  .footer {
    position: absolute;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    .scription-content-title {
      position: relative;
      top: 0;
      padding: 10px;
    }
  }
  ion-content.currentStep3 {
    .payment-success-wrapper {
      padding: 5%;
      margin: 2% 0;
      text-align: center;
      img {
        max-width: 25%;
        padding-top: 5%;
      }
      h4 {
        color: #4CDC6C;
        margin: 15px 0 0;
      }
      h6 {
        margin: 5px 0 0;
        color: #9B9B9B;
      }
    }
    .per-time {
      margin-top: 15px;
      background-color: #4CDC6C;
      border-radius: 5px;
      padding: 10px 10px 0;
      .row {
        h5 {
          margin: 0;
          text-transform: capitalize;
          color: #fff;
          font-weight: 500
        }
        p {
          margin: 0;
          color: #fff;
          font-size: 8px;
        }
      }
    }
    img.card {
      width: 100%;
      margin-top: 5%;
    }
  }
  //
  //.bar.bar-footer {
  //  height: 65px;
  //  button.button.button-block {
  //    color: #FFFFFF;
  //    background-color: #6ECADE;
  //    border: none;
  //    font-size: 18px;
  //    font-weight: 500;
  //    line-height: 45px;
  //    border-radius: 3px;
  //    margin: 0;
  //  }
  //}
}