.abode-devices-list {
  background: transparent;
  .abode-devices-item {
    font-size: 18px;
    font-weight: 500;
    color: #525969;
    padding: 20px 54px;
    &.warning {
      background: rgba(204, 0, 0, 0.1);
      padding: 10px 54px;
      p {
        color: #cc0000;
      }
    }
    &.yellow {
      background-color: #F5A623;
      color: white;
    }
    &.red {
      background-color: #FF0000;
      color: white;
    }
    .abode-devices-icon-left {
      position: absolute;
      top: 19px;
      left: 17px;
      max-height: 20px;
      max-width: 20px;
    }
    .abode-device-right {
      position: absolute;
      right: 17px;
      top: 15px;
      &-toggle {
        top: -.5px;
        right: 0;
      }
      &-icon {
        width: 30px;
      }
      &-note {
        color: #9B9B9B;
        font-size: 16px;
        line-height: 30px;
        &.green {
          color: #4CDC6C;
        }
        .deviceTemp {
          &::before {
            color: #4CDC6C;
            margin: 4px 0 0 7px;
            font-size: 25px;
            float: right;
            line-height: 22px;
          }
        }
      }
      &-button {
        color: #fff;
        border: none;
        background-color: #6ECADE;
        width: 50px;
        height: 30px;
        border-radius: 5px;
        font-size: 18px;
        pointer-events: auto;
      }
    }
  }
}

.abode-devices-divider {
  color: #525969;
  background-color: #F2F2F2;
  font-size: 14px;
}

.abode-button.highlight {
  animation: change-color 2s forwards;
}

@keyframes change-color {
  0% {
    background-color: #4CDC6C;
  }
  90% {
    background-color: #4CDC6C;
  }
  100% {
    background-color: #6ECADE;
  }
}

.toggle.toggle-assertive input + .track {
  border-color: #ef473a;
  background-color: #ef473a;
}