.buttons[side="left"] {
  position: absolute;
  z-index: 1;
  i {
    color: grey;
  }
}

ion-header-bar {
  &.bar-header {
    border: none;
    background: transparent;
    .back-button {
      color: grey;
      margin-left: 10px;
      span.back-text {
        display: none;
      }
      &.light {
        color: white;
      }
    }
    .title {
      font-weight: normal;
      //font-weight: 200;
      //font-size: 16px;
      //line-height: 45px;
    }
    .buttons {
      > span {
        //padding: 4px 0;
      }
    }
  }
}

button {
  &.button-green {
    background-color: #4CDC6C;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    float: right;
    margin: -5px 0 0 0;
  }
}

.camera-setup-popup {
  border-radius: 4px;
  width: 90%;
  min-height: 170px;
  height: auto;
  margin: -100px 5% 0;
  top: 50%;
  padding: 15px;
  ion-header-bar {
    position: relative;
  }
  .button {
    margin-left: 0;
    margin-right: 0;
  }
}

.add-code > .scroll {
  height: 100% !important;
}

.alerts-page {
  .tab-nav {
    top: 49px;
  }
  .tabs {
    .tab-item {
      max-width: none;
      color: #6ECADE !important;
      background: #F2F4F5;
      border-top: 1px solid #D0D0D0;
      border-bottom: 1px solid #D0D0D0;
      opacity: 1;
      &.tab-item-active {
        background: #6ECADE;
        color: white !important;
      }
    }
  }
  ion-content.has-tabs-top {
    //top: 99px;
  }
}

.alert-details {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 40px;
    height: 100%;
    width: 2px;
    background: #d7e4ed;
    margin-left: 17px;
  }
}

.online-status {
  display: none;
  background-color: #cc0000;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  &.active {
    display: block;
  }
}

.videocams {
  .slider-slides {
    width: 100% !important;
    ion-slide, video {
      width: 100%;
    }
  }
}

@import "subscription";
@import "firstWelcomeScreen";
@import "devices";
@import "quick-actions";
img {
  vertical-align: middle;
}

.button-next {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.tabs {
  border: none;
  background: #fff;
  box-shadow: 0 -1px 8px 0 rgba(191,191,191,0.8);
}
//
//.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
//  color: #fff!important;
//}