ion-view.subscription(view-title='Update Subscription')
    ion-nav-bar
        ion-nav-back-button(nav-direction='backward', style='display: block;', ng-click="vm.previousWindow()")
    ion-content.has-header(scroll='false', ng-if='vm.currentStep == 1')
        //.row
            .col.button.button-light.subcription-tab(ng-class='{"selected": vm.tab == 0}', ng-click='vm.selectTab(0)') Mounthly
            .col.button.button-light.subcription-tab(ng-class='{"selected": vm.tab == 1}', ng-click='vm.selectTab(1)') Yearly
        //ion-scroll()
        ion-scroll.content
            .scription-card.list.card(ng-repeat='val in vm.plans', ng-class='{"premium": val.id == vm.user.plan_id || (!vm.user.plan_id && val.name == "Basic"), "selected": vm.selectedPlan == val.name}', ng-click='vm.selectPlan(val.name, $index)', ng-if='val.is_active=="1"')
                .scription_item.item
                    h2.scription-caption {{::val.name}}
                    //h2.scription-caption-desc(ng-if='val.stripe_plan_id == "2"') MOST POPULAR
                    .scription-right-container
                        h2.scription-right-big {{::val.price == "0.00" ? "INCLUDED" : "$"+val.price}}
                        h2.scription-right-small PER MONTH
                .item.item-body(ng-show='vm.selectedPlan == val.name')
                    h2.scription-content-title
                        div(ng-if='$index') {{::"All Functionality of "+vm.plans[$index-1].name}}
                        div(ng-if='$index') +
                    .scription_content_item.item.item-icon-left
                        i.icon
                            img.scription-content-img(src='assets/img/subscription/monitor.png')
                        | 24 x 7 Professional Monitoring
                    .scription_content_item.item.item-icon-left
                        i.icon
                            img.scription-content-img(src='assets/img/subscription/backup.png')
                        | Cellular Backup
                    .scription_content_item.item.item-icon-left
                        i.icon
                            img.scription-content-img(src='assets/img/subscription/customer.png')
                        | Customer Support
                    .scription_content_item.item.item-icon-left
                        i.icon
                            img.scription-content-img(src='assets/img/subscription/forever.png')
                        | {{val.users + " " + (val.users > 1 ? "Users" : "User")}}
                    .scription_content_item.item.item-icon-left
                        i.icon
                            img.scription-content-img(src='assets/img/subscription/multi_device.png')
                        | Control & Automate up to {{val.devices}} devices
                    h2.scription-content-title.desc  Be secure 100% of the time
        .footer
            h2.scription-content-title.select-status(ng-show='vm.selectedPlan') {{vm.selectedPlan}} plan selected
            button.button.abode-button(ng-click="vm.submitPlan()") Continue

    ion-content.has-header.currentStep2(scroll='false', ng-if='vm.currentStep == 2')
        //div.image-wrapper
            img(src='assets/img/subscription/scan_card.png')
            h6 scan your card
        ion-scroll.content
            .credit-card-info-wrapper.padding
                p.title.padding Credit Card Info
                label.item.item-input
                    input(type='text', ng-model="vm.name_on_the_card" placeholder='Name on the Card')
                label.item.item-input
                    input(type='text', ng-model="vm.card_no", placeholder='Card Number', data-inputmask-regex='^[[0-9a-zA-Z]+(?:[0-9a-zA-Z]+)*$]{0,16}', maxlength='16', model='vm.data.number')
                .row
                    label.item.item-input.col-33
                        //input(type='text', placeholder='Exp Date', model='vm.data.expiration')
                        select(ng-model='vm.expiration_month')
                            option(value='') Month
                            option(value='01') 01
                            option(value='02') 02
                            option(value='03') 03
                            option(value='04') 04
                            option(value='05') 05
                            option(value='06') 06
                            option(value='07') 07
                            option(value='08') 08
                            option(value='09') 09
                            option(value='10') 10
                            option(value='11') 11
                            option(value='12') 12
                    label.item.item-input.col-33.plus-border-right
                        //input.plus-border-right(type='text', placeholder='Exp Date', model='vm.data.expiration')
                        select(ng-model='vm.expiration_year')
                            option(value='') Year
                            option(value='2015') 15
                            option(value='2016') 16
                            option(value='2017') 17
                            option(value='2018') 18
                            option(value='2019') 19
                            option(value='2020') 20
                    label.item.item-input.col-33
                        input(type='number', ng-model="vm.cvc" placeholder='CVC', model='vm.data.cvv')
                .per-time
                    .row
                        .col-50
                            h5 {{vm.plans[vm.selectedPlanId].name}}
                            p(ng-if='vm.plans[vm.selectedPlanId].stripe_plan_id == "2"') MOST POPULAR
                        .col-50(style="text-align: right;")
                            h5 ${{vm.plans[vm.selectedPlanId].price}}
                            p(ng-if='vm.plans[vm.selectedPlanId].stripe_plan_id == "2"') PER MONTH
                    //.row.per-time-bottom
                    //    .col-66
                    //        h5 7 Day Recording
                    //        p(ng-if='vm.plans[vm.selectedPlanId].stripe_plan_id == "2"') CLOUD DVR for 1 STREAMING CAMERA
                    //    .col-33(style="text-align: right;")
                    //        h5
                    //        p(ng-if='vm.plans[vm.selectedPlanId].stripe_plan_id == "2"') PER YEAR
        .footer
            button.button.abode-button(ng-click='vm.onBillingUpgradeClick()') Upgrade

    ion-content.has-header.currentStep3(scroll="false", ng-if='vm.currentStep == 3')
        div.payment-success-wrapper.padding
            img(src='assets/img/subscription/pay_success.png')
            h4 Account Update Sucessful!
            h6 Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
        .padding
            .per-time
                .row
                    .col-50
                        h5 {{vm.plans[vm.selectedPlanId].name}}
                        p(ng-if="vm.plans[vm.selectedPlanId].name == 'Premium'") MOST POPULAR
                    .col-50(style="text-align: right;")
                        h5 ${{vm.plans[vm.selectedPlanId].price}}
                        p PER MONTH
        //img.card(src='assets/img/subscription/visa_card.png')
        .footer
            button.button.abode-button(ui-sref='tab.status.timeline') Done