/* Empty. Add your own CSS if you like */

/*
*  Default font settings
*/

/*------------------------- Ionic Defaults --------------------------*/
/** Overridding Ionic Defaults */
body, h1, h2, h3, h4, h5, h6, p, input, .h1, .h2, .h3, .h4, .h5, .h6, .item, .item-divider, .input, .item-input, .button, .div {
    font-family: "Avenir";
}

.transparent-nav {
    background: none !important;
}

/* Back Button Color */
.button.back-button {
    color: white;
}

/* List Item selected color change */
.item.active {
    color: #6ECADE;
    background-color: transparent;
}

/* Toggle transform size change for resized control */
.toggle input:checked + .track .handle {
    -webkit-transform: translate3d(17px, 0, 0);
    transform: translate3d(17px, 0, 0);
}

.bar.bar-light .title {
    color: #000000;
    font-family: "Avenir";
}

.bar.bar-light {
    background-color: #F9F9F9;
}

.badge.nav {
    min-width: 6px;
    border-radius: 10px;
    font-size: 11px;
    padding: 1px 5px;
    position: absolute;
    margin-left: -14px !important;
}

/* Slider Changes */
.slider-pager {
    bottom: 3px;
}

.slider-pager .slider-pager-page.active {
    color: #B8B8B8;
}

.slider-pager-page:not(.active) i.icon:before {
    content: "\f401";
}

/* Popup used in quickaction view */
.popup-head {
    display: none;
}

.popup {
    width: 90% !important;
    border-radius: 5px !important;
}

/* Slider View on Welcome Screen*/
.slider {
    height: 82%;
}

/* Navigation Title Bar */
.bar.bar-light .title {
    color: #525969;
}

.popup-body {
    padding: 1px;
    position: relative;
}

/* Range Slider Thumb bar*/
.range input::-webkit-slider-thumb {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-appearance: none;
    border: 0;
}

.range input::-webkit-slider-thumb:before {
    /* what creates the colorful line on the left side of the slider */
    position: absolute;
    top: 10px;
    left: -2001px;
    width: 2000px;
    height: 2px;
    background: #444;
    content: ' ';
}

/* Button hover color changes*/
.button:hover {
    color: white;
}

.popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0.4)!important;
}

/*   Platform iOS popover view disable arrow on top*/
.platform-ios .popover-arrow:after {
    background-color: transparent;
}

/*------------------------ User Defined ----------------------*/

/*
* Tab bar icon settings
*/
.tab-quick-action-on {
    height: 65%;
    width: 12%;
    background: url('../assets/img/BottomNavigation/quick-actions-selected-nav.png') no-repeat 50%;
    background-size: contain;
}

.tab-quick-action-off {
    height: 65%;
    width: 12%;
    background: url('../assets/img/BottomNavigation/quick-actions-nav.png') no-repeat 50%;
    background-size: contain;
}

.tab-status-on {
    height: 65%;
    width: 25%;
    background: url('../assets/img/BottomNavigation/status-selected-nav.png') no-repeat 50%;
    background-size: contain;
}

.tab-status-off {
    height: 65%;
    width: 25%;
    background: url('../assets/img/BottomNavigation/status-nav.png') no-repeat 50%;
    background-size: contain;
}

.tab-settings-on {
    height: 65%;
    width: 20%;
    background: url('../assets/img/BottomNavigation/settings-selected-nav.png') no-repeat 50%;
    background-size: contain;
}

.tab-settings-off {
    height: 65%;
    width: 20%;
    background: url('../assets/img/BottomNavigation/settings-nav.png') no-repeat 50%;
    background-size: contain;
}

/*
* Tab bar selection color setting
*/

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #6ECADE !important;
}

.tab-item {
    color: #646464 !important;
}

/*
*  ------------ First Welcome Screen ------------
*/

.main-container {
    width: 100%;
    height: 100%;
}

.img-welcome-logo {
    width: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.welcome-message {
    font-size: 22px;
    font-family: "Avenir";
    font-weight: lighter;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.lighter-text {
    font-size: 15px;
    font-weight: lighter !important;
}

.sign-buttons {
    bottom: 20px;
    position: absolute;
    width: 100%;
}

#signin-button {
    color: #6ECADE;
    font-size: 18px;
}

#reg-button {
    color: #9B9B9B;
    font-size: 18px;
}

.col.center-text-button {
    text-align: center;
}

/*
* ------------ Register Screen ------------
*/

.register-image-view {
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url("../assets/img/login/logo-bg.png") no-repeat;
    background-size: cover;
    position: relative;
}

.register-logo {
    width: 40%;
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.card, .list-inset {
    margin: 10px;
}

.abode-welcome-slider {
    height: 80%;
}

.start-message, .abode-button, .abode-green-button, .register-description {
    font-family: "Avenir";
}

.start-message {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    margin-top: 15px;
    color: #525969;
}

.abode-button {
    width: 94%;
    margin-left: 3%;
    color: #FFFFFF;
    background-color: #6ECADE;
    border-color: #6ECADE;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    line-height: 45px;
}

.abode-green-button {
    width: 94%;
    margin-left: 3%;
    color: #FFFFFF;
    background-color: #4CDC6C;
    border-color: #4CDC6C;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
}

.register-description {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    bottom: 5px;
    position: absolute;
    margin: 5% 13%;
    color: #525969;
}

.register-popup-title {
    font-size: 21px;
    font-weight: 500 !important;
}

.register-popup-email {
    margin: 0 !important;
    padding: 0;
    font-size: 19px;
    color: #6ECADE;
}

.register-popup-desc {
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: 5% !important;
    margin-top: 3% !important;
    position: relative;
}

.register-close-btn {
    position: absolute;
    top: 6px !important;
    right: 8px !important;
}

/*
* ------------ Signin Screen ------------
*/

#signin-forgot-button, .signin-description {
    font-family: "Avenir";
}

#signin-forgot-button {
    font-size: 14px;
    color: #525969;
    font-family: "Avenir";
    font-weight: lighter;
    text-align: center;
}

#card-create-account {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 20%;
    background-color: #F2F2F2;
}

.signin-description {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin-top: 15px;
    color: #9B9B9B;
}

/*
*  ------------ Quick Action Screen ------------
*/
.abode-button-title.selected {
    color: white;
}

.quickaction-sub-title-desc.selected {
    color: #45ABC1;
}

.quickaction-sub-title-desc {
    font-size: 16px !important;
    color: #45ABC1;
    display: block;
    border-color: #45ABC1;
    top: 50%;
    left: 9%;
    position: absolute;
    margin: 0;
    -webkit-transform: translate(-1%, -50%);
    transform: translate(-1%, -50%);
}

.abode-button-title {
    font-size: 16px !important;
    color: #9B9B9B;
    display: block;
    top: 50%;
    left: 4%;
    position: absolute;
    margin: 0;
    -webkit-transform: translate(-1%, -50%);
    transform: translate(-1%, -50%);
}

.abode-button-image {
    position: absolute;
    margin: auto;
    display: block;
    right: 4%;
    height: 60%;
    -webkit-transform: translate(-1%, -50%);
    transform: translate(-1%, -51%);
}

.abode-button-ctrl {
    position: absolute;
    margin: auto;
    display: block;
    right: 1%;
    height: 70%;
    -webkit-transform: translate(-1%, -50%);
    transform: translate(-1%, -50%);
}

.abode-track-list {
    width: 33px !important;
    height: 100% !important;
}

.abode-handle-list {
    width: 17px !important;
    height: 17px !important;
    border-radius: 17px !important;
}

.quickaction-sub-item {
    margin: 0;
    padding: 0;
    border: none;
}

.abode-item-div {
    background-color: #EBF8FB;
    color: #45ABC1;
    position: relative;
    display: inline-block;
    min-width: 52px;
    min-height: 47px;
    border-radius: 3px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;

    /*changed*/
    padding: 0;
    margin: 0 0 0 30px;
    width: 100%;
    border: 1px none #CFE7EC;
    border-bottom-style: solid;
}

.abode-item-div.selected {
    border-color: #6ECADE;
    background-color: #6ECADE;
}

.abode-item-div.after-childs {
    margin-top: 10px;
}

.abode-outline-button {
    border-color: #EBF8FB;
    /*#EAEAEA*/
    background-color: #EBF8FB;
    border-radius: 3px;
    color: #6ECADE;
    font-size: 20px;
    font-weight: 500;

    margin: 6% 5%;
    width: 90%;
}

.abode-separator {
    width: 90%;
    margin: 0 5%;
    border-top: 1px solid #D0D0D0;
}

.quickaction-desc {
    font-size: 16px;
    font-color: #525969;
    font-weight: lighter;
    margin-top: 15px !important;
    margin-bottom: 5px;
    margin-left: 2%;
}

.quickaction-toggle-div {
    width: 70px;
    height: 45px;
    position: absolute;
    right: 2em;
    top: 0.2em;
}

.quickaction-toggle-div.sub-toggle {
    right: 0;
    top: 0;
    width: 55px;
}

.quickaction-button-div {
    margin: 0;
    padding: 0;
}

.quickaction-item {
    color: white;
    background-color: #6ECADE;
    margin-bottom: 5px;
    margin-top: 5px;
}

.quickaction-item.selected {
    color: white;
    background-color: #6ECADE;
}

.quickaction-spinner {
    right: 55px;
    position: absolute;
    width: 25px;
    height: 25px;
}

.quickaction-spinner.sub-spinner {
    right: 0;
    top: 9px;
    width: 55px;
}

.quickaction-spinner svg {
    width: 25px;
    height: 25px;
}

/* ------------- Nav bar customization ------------- */
.abode-nav-button.green {
    background-color: #4CDC6C !important;
}

.abode-nav-button.gray {
    background-color: #979797 !important;
}

.abode-nav-button.blue {
    background-color: #6ECADE !important;
}

.abode-nav-button {
    border: none;
    border-radius: 4px;
    color: white !important;
    width: 80px;
    height: 80%;
    min-height: 35px !important;
}

.abode-nav-button-image {
    position: absolute;
    margin: auto 5%;
    display: block;
    left: 5%;
    height: 50%;
    -webkit-transform: translate(-0%, -55%);
    transform: translate(-0%, -55%);
}

.abode-nav-button-title {
    font-size: 13px !important;
    color: white;
    display: block;
    top: 50%;
    left: 32px;
    position: absolute;
    margin: 0;
    -webkit-transform: translate(-10%, -50%);
    transform: translate(-10%, -50%);
}

.abode-nav-button-title.blue-button-title {
    left: 39px;
}

.badge.badge-danger {
    top: -4px;
    right: -4px;
    padding: 0 4px;
    position: absolute;
    min-width: 16px;
    background-color: #cc3f44;
    color: #fff;
    font-size: 12px;
}

/* ---------------- Popup Customization ----------------- */
.register-description.abode-popup {
    /*position: relative;*/
    position: relative;
    bottom: inherit;
    margin: 10% 10%;
}

.abode-button.abode-popup {
    bottom: 10px;
}

.abode-button.register-popup {
    bottom: 10px;
    margin: auto !important;
    width: 90%;
}

.register-description.register-popup {
    position: relative;
    margin: 10% 10%;
}

/* ---------------- Gateway Setup View --------------------- */
.start-message.gateway-title {
    font-size: 28px;
    font-weight: 500;
    margin-top: 12%;
}

.start-message.choose-title {
    color: white;
    font-size: 28px;
    font-weight: 500;
    padding-top: 20%;
}

.start-message.choose-desc {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

.start-message.gateway-desc {
    font-size: 18px;
    font-weight: 400;
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
}

.start-message.gateway-desc-small {
    font-size: 18px;
    font-weight: 400;
    margin-top: 15%;
    margin-left: 3%;
    margin-right: 3%;
}

.start-message.gateway-invalid-id {
    font-size: 16px;
    color: #EC465A;
    font-weight: 500;
}

.start-message.gateway-confirm-id {
    font-size: 16px;
    color: #4CDC6C;
    font-weight: 500;
}

.img-welcome-logo.gateway-main-img {
    width: 50%;
    padding: 0;
}

.img-welcome-logo.gateway-small-img {
    width: auto;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.abode-underline-label {
    width: 80%;
    margin-left: 10%;
    border-style: none none solid none;
    padding: 0 0 3px 0;
    background-color: transparent;
}

.abode-underline-label.gateway-desc-label {
    font-size: 15px;
}

.abode-underline-label input[placeholder = 'Activation Key'] {
    text-transform: uppercase;
}

.gateway-desc-input {
    font-size: 16px !important;
    line-height: 35px !important;
}

.gateway-img-div {
    width: 100%;
    margin-bottom: 20px;
}

.gateway-spinner {
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 50px;
}

.gateway-spinner svg {
    width: 50px;
    height: 50px;
}

.gateway-camera-button {
    bottom: 15px;
    position: absolute;
    padding: 7px 12px;
    line-height: 1.3;
}

.abode-button.gateway-button-outline {
    width: 94%;
    margin-left: 3%;
    color: #6ECADE;
    background: transparent;
    border-color: #D0D0D0;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
}

/* ------------------ Add Motion Camera ------------------- */
.start-message.step-title {
    font-size: 20px;
    color: #6ECADE;
    font-weight: 500;
    margin-top: 15%;
    width: 80%;
    margin-left: 10%;
    border: 1px none;
    border-bottom: solid #E6E6E6;
    padding-bottom: 8px;
}

.start-message.cam-desc {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.img-welcome-logo.addcam-main-img {
    width: auto;
    height: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.img-welcome-logo.addcam-middle-img {
    height: 60%;
    margin-top: 10%;
    padding-top: 0;
    padding-bottom: 0;
}

.img-welcome-logo.addcam-round-img {
    width: 100%;
    margin: 0;
    padding: 15px;
}

.abode-button.addcam-continue-btn {
    background-color: #F6F6F6;
    border-color: #F6F6F6;
    left: 0;
    position: absolute;
    bottom: 15px;
}

.abode-button.addcam-continue-btn-enable {
    background-color: #6ECADE;
    border-color: #6ECADE;
    left: 0;
    position: absolute;
    bottom: 15px;
}

/* ----------------- Add Streaming Camera -----------------*/
.abode-stream-cont {
    height: 55%;
    bottom: 0;
    width: 100%;
    background-color: #FAFAFA;
    position: absolute;
}

.abode-item-list {
    background-color: white;
    color: #444;
    position: relative;
    display: inline-block;
    min-width: 52px;
    min-height: 60px;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.abode-item-list.selected {
    border: solid 2px #6ECADE;
    color: #6ECADE;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.abode-button-title.stream-list-title {
    color: #6ECADE;
}

.abode-button-image.stream-list-img {
    height: 40%;
}

.abode-button-image.window-list-img {
    height: 60%;
}

.abode-wifi-list {
    font-size: 15px;
    color: #525969;
    font-weight: 500;
    width: 80%;
    margin-left: 10%;
    border: 1px none;
    border-bottom: solid #E6E6E6;
    padding-bottom: 10px;
}

.abode-transparent-button {
    background-color: transparent;
    position: relative;
}

.abode-transparent-button.selected {
    background-color: transparent;
    position: relative;
    color: #4CDC6C;
}

.left-side-icon {
    position: absolute;
    margin: auto;
    display: block;
    left: 4%;
    height: 40%;
    -webkit-transform: translate(-1%, 10%);
    transform: translate(-1%, 10%);
}

.right-side-icon {
    position: absolute;
    margin: auto;
    display: block;
    right: 4%;
    height: 40%;
    -webkit-transform: translate(-1%, -150%);
    transform: translate(-1%, -150%);
}

/* -------------------- Device Setup ------------------ */
.abode-button.device-setup-button {
    position: relative;
    color: #D0D0D0;
    background-color: #bdc3c7;
    border-color: #bdc3c7;
}

.device-left-icon {
    position: absolute;
    display: block;
    top: 0;
    left: 10px;
    height: 100%;
    padding: 5px;
    margin: 0;
}

.abode-button.after-childs {
    margin-top: 10px;
    color: white;
}

/*------------------------- Video Player ---------------------- */

.videogular-container {
    width: 94%;
    /* height: 320px; */
    height: 25%;
    margin: auto;
    overflow: hidden;
    border-radius: 8px/8px;
}

/* ---------------------------- Profile Start --------------------------- */

.choose-image-view {
    position: relative;
    height: 50%;
    display: block;
    margin: auto;
    top: -24%;
}

.abode-underline-label.twoLeft {
    margin-top: 10px;
    width: 50%;
    margin-left: 0;
}

.abode-underline-label.twoRight {
    margin-top: 10px;
    width: 50%;
    margin-left: 0;
}

.tow-in-one-line-div {
    width: 80%;
    margin-left: 10%;
    padding: 0;
}

.tow-in-one-line-small-div {
    border: 1px none #ddd;
    border-left-style: solid;
    padding-left: 10%;
}

.register-image-view.profile-start {
    width: 100%;
    height: 27%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url("../assets/img/login/Bitmap.png") no-repeat;
    background-size: cover;
    position: relative;
}

/* ------------------------- Status --------------------------*/
.status-tab-buttons {
    width: 33.3%;
    color: #6ECADE !important;
    background: #F2F4F5 !important;
    border-color: #D0D0D0 !important;
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    min-height: 38px;
    border-style: solid solid solid none;
    z-index: 2;
}

.status-tab-buttons.selected {
    background: #6ECADE !important;
    color: white !important;

}

/* ------timeline --------*/
#abode-timeline {
    position: relative;
}

#abode-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 2px;
    background: #d7e4ed;
    margin-left: 17px;
}

/* ----------- Cameras -----------------*/
.item-camera-title {
    color: white;
    position: absolute;
    font-weight: 500 !important;
    bottom: 5%;
    left: 3%;
}

.item-camera-status {
    width: auto;
    height: 12px;
    position: absolute;
    bottom: 7%;
    right: 3%
}

.item-camera-play {
    height: 20%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 5px;
}

.item-camera-img {
    width: 100%;
    height: auto;
}

/* --------------- Camera Details -------------- */

.camera_history_item {
    padding-left: 150px;
    min-height: 100px;
    padding-top: 30px
}

.camera_history_item_img {
    padding: 0;
    margin: 0;
    left: 0 !important;
    top: 0 !important;
    border-radius: 0 !important;
    height: 100% !important;
    width: auto !important;
    max-width: 120px !important;
    max-height: 100px !important;
}

.camera_detail_nav_right {
    font-size: 13px !important;
    padding-top: 5px !important;
}

.camera_detail_nav_right.online {
    color: #4CDC6C !important;
}

.camera_detail_nav_right.offline {
    color: #FF0000 !important;
}

/* -------------------------------- Settings ------------------------------------*/
.settings-profile-div {
    padding-left: 75px;
    min-height: 120px;
    padding-top: 40px;
    padding-right: 30px;
}

.settings-upload-photo {
    position: absolute;
    top: 46px;
    right: 8px;
    font-size: 13px;
    line-height: 30px;
    min-height: 30px;
    padding: 0 5px;
    border-radius: 4px;
    color: white;
    background-color: #D0D0D0;
}

.settings-profile-content {

}

.settings-profile-photo {
    max-width: 60px !important;
    max-height: 60px !important;
    top: 30px !important;
    left: 8px !important;
}

.settings-item {
    padding: 17px 17px 17px 70px;
    max-height: 55px;
    min-height: 55px;
}

.settings-item-text {
    font-size: 14px !important;
    line-height: 1.4 !important;
}

.settings-item-text.selected {
    color: #4CDC6C;
}

.settings-item-text.disabled {
    color: #ACACAC;
}

.settings-img-div {
    width: 70px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 5px;
}

.settings-button-ctrl {
    margin: auto;
    display: block;
    height: 85%;
    -webkit-transform: translate(-1%, 8%);
    transform: translate(-1%, 8%);
}

.settings-button-ctrl.icon-img {
    left: 6%;
    height: 50%;
    max-width: 30px;
    -webkit-transform: translate(-1%, 42%);
    transform: translate(-1%, 42%);
}

.settings-button-ctrl.icon-img-change-plan {
    left: 6%;
    max-width: 40px;
    height: 45%;
    -webkit-transform: translate(-1%, 53%);
    transform: translate(-1%, 53%);
}

.settings-button-ctrl.tog_control {
    width: 55px;
}

.settings-track-list {
    width: 45px !important;
    height: 100% !important;
}

.settings-handle-list {
    width: 25px !important;
    height: 25px !important;
    border-radius: 25px !important;
    top: 6px !important;
    left: 7px !important;
}

/* ------------------- Settings-AddNewDevice-----------------*/
.img-welcome-logo.new_device {
    max-width: 30%;
    padding-bottom: 0;
    padding-top: 5%;
}

.new-device-card {
    position: absolute;
    width: 100%;
    margin-left: 0;
    margin-top: 10%;
    height: 100%;
    background-color: #F2F2F2;
}

.other-device-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0 !important;
    height: 25%;
    background-color: #525969;

}

.other-device-text {
    font-size: 20px;
    color: white;
    top: 30%;
    left: 30%;
    position: absolute;
}

.third-party-title {
    font-size: 9px;
    color: #525969;
    margin: auto;
    display: block;
    text-align: center;
}

/* --------------------Settings-Volume-------------------------*/
.register-description.volume-popup {
    bottom: inherit;
    width: 80%;
    margin-left: 10%;
    position: relative;

}

.register-description.notif-popup {
    width: 80%;
    margin-left: 10%;
    position: relative;

}

.abode-button.volume-popup {
    max-height: 35px;
    min-height: 35px;
    font-size: 12px;
    bottom: 0;
    margin-top: 20px;
}

.abode-button.notif-popup {
    max-height: 35px;
    min-height: 35px;
    font-size: 12px;
    bottom: 0;
    margin-top: 5px;
}

/* ----------------------- Settings - Subscription --------------------- */

.subcription-tab {
    width: 50%;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    min-height: 38px;
    z-index: 2;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

.subcription-tab.selected {
    background: #6ECADE !important;
    color: white !important;
}

.scription-card {
    border: 3px none #6ECADE;
    border-top-style: solid;
}

.scription-card.selected {
    border: 1px solid #6ECADE;
}

.scription-card.premium {
    border: 1px solid #4CDC6C;
}

.scription-caption {
    font-weight: 500 !important;
    text-transform: capitalize;
}

.selected .scription-caption {
    color: white;
}

.scription_item {
    max-height: 53px;
}

.selected .scription_item {
    background-color: #6ECADE;
}

.premium .scription_item {
    background-color: #4CDC6C;
    padding: 10px 16px;
}

.scription-caption-desc {
    font-size: 8px !important;
}

.selected .scription-caption-desc {
    color: white;
}

.scription-right-container {
    right: 5%;
    position: absolute;
    top: 30%;
}

.scription-right-big {
    font-size: 11px !important;
    padding: 0;
    margin: 0 !important;
    text-align: center;
    font-weight: 400 !important;
    color: #6ECADE;
}

.selected .scription-right-big {
    color: white;
}

.scription-right-small {
    font-size: 8px !important;
    padding: 0;
    margin: 0 !important;
    text-align: center;
    color: #9B9B9B;
}

.selected .scription-right-small {
    color: white;
}

.scription-content-title {
    text-transform: capitalize;
    margin: auto !important;
    display: block;
    text-align: center;
    color: #4A4A4A;
}

.scription-content-title.desc {
    color: #9B9B9B;
    font-size: 12px;
    padding-top: 10px;
}

.scription-content-title.select-status {
    color: #4CDC6C;
    font-size: 12px;
    padding-top: 10px;
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
}

.scription_content_item {
    font-size: 12px;
    padding: 3px 3px 3px 54px;
    border: none;
}

.scription-content-img {
    width: 18px;
}

.scription-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    padding: 10px;
}

.scription-footer .scription-content-title {
    padding: 5px;
}

/* ---------------- Settings - Subscription 2 ------------------------- */

.abode-underline-label.scription {
    font-size: 15px;
    width: 94%;
    margin-left: 3%;
}

.scan_card_desc {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #9B9B9B;
}

.scan-tow-in-one-line-div {
    width: 94%;
    margin-left: 3%;
    padding: 0;
}

/* ---------------- Settings - Subscription 3 ------------------------- */

.payment_success_title {
    font-size: 20px;
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
    color: #4CDC6C;
}

.payment_success_desc {
    font-size: 12px;
    margin: 5px 0 0;
    padding: 0;
    text-align: center;
    color: #9B9B9B;
}

/* ------------------------ Alert Alarm is going off ---------------------- */
#alarm-timeline {
    position: relative;
}

#alarm-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    right: 40px;
    height: 100%;
    width: 2px;
    background: #d7e4ed;
    margin-left: 17px;
}

.alarm-footer {
    height: 50px;
    border-top: 1px solid #b2b2b2;
}

.abode-green-button.alarm_red {
    background: #DC4C4C;
    border-color: #DC4C4C;
    font-size: 16px;
    line-height: 37px;
    min-height: 37px;
    width: 45%;
    margin: 0 5px;
}

.abode-green-button.alarm_green {
    width: 45%;
    margin: 0 5px;
    font-size: 16px;
    line-height: 37px;
    min-height: 37px;
}

.alarm_card_div {
    bottom: 0;
    height: 19%;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
}

.alarm_table_div {
    height: 60%;
    margin: auto;
    padding-top: 6%;
}

.alarm_main_desc {
    margin-left: 5%;
    font-size: 16px;
    color: #BCBCBC;
}

.alarm_detail_main_desc {
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    background: #BCBCBC;
    color: #fff;
}

.alarm_list_item {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}

.alarm_list_item.active {
    background-color: rgba(255, 225, 225, 0.5);
}

.alarm_list_item_img {
    max-width: 20px;
    max-height: 20px;
    position: relative;
    top: 8px;
    left: 9px;
}

.alarm_list_item_img_div {
    position: absolute;
    left: auto !important;
    right: 21px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #D2D2D2;
    background-color: white;
    overflow: hidden;
}

.alarm_list_item_img.user{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
}

.alarm_list {
    padding-right: 72px;
    padding-left: 16px;
}

.alarm_list_item_content {
    text-align: right;
}

.alarm_list_item_content p {
    margin: 0;
    display: inline-block;
}

.alarm_list_capture_div {
    text-align: right;
    margin: 10px 0 0;
}

.alarm_list_capture_img {
    /*max-width: 72px;*/
    width: 100%;
    border-radius: 4px;
    /*margin-left: 3%*/
}

/* ------------------- Alarm Popups -------------------- */
.abode-green-button.alarm_popup_red {
    background: #DC4C4C;
    border-color: #DC4C4C;
    max-height: 40px;
    min-height: 40px;
    width: 95.5%;
    font-size: 14px;
    margin: auto 1.5% auto 3%;
}

.abode-green-button.alarm_popup_green {
    background: #4CDC6C;
    border-color: #4CDC6C;
    max-height: 40px;
    min-height: 40px;
    width: 95.5%;
    min-width: 100px;
    font-size: 14px;
    margin: auto 1.5% auto 3%;
}

.alarm_gray_button {
    background: #D0D0D0;
    border-color: #D0D0D0;
}

.alarm_green_button {
    background: #4CDC6C;
    border-color: #4CDC6C;
}

.alarm_red_button {
    background: #DC4C4C;
    border-color: #DC4C4C;
}

.abode-green-button.alarm_popup_gray {
    background: #D0D0D0;
    border-color: #D0D0D0;
    max-height: 40px;
    min-height: 40px;
    width: 95.5%;
    min-width: 100px;
    font-size: 14px;
    margin: auto 1.5% auto 3%;
}

.alarm_popup_button_div {
    position: absolute;
    left: 0;
    top: 50%;
    height: 60%;
    margin: auto;
    padding-top: 6%;
}

/* ---------------------------- Alerts ----------------------------*/

.alerts_list_item {
    padding-top: 18px !important;
    padding-bottom: 16px !important;
}

.alerts_list_item_img {
    max-width: 20px !important;
    max-height: 20px !important;
    top: 20px !important;
    border-radius: 0 !important;
}

.alerts_list_item_title_big {
    font-size: 14px !important;
}

.alerts_list_item_title_small {
    font-size: 12px !important;
}

/* ---------------------- Timeline List -------------------------- */
.list_icon_div {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #D2D2D2;
    background-color: white;
    overflow: hidden;
}

.list_icon_image {
    max-width: 20px;
    max-height: 20px;
    position: relative;
    top: 8px;
    left: 9px;
}

.list_icon_image.user {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;

}

.list_item_text_color {
    color: #525969 !important;
}

.list_item_right_icon_color {
    color: #979797 !important;
}

/* ----------------------- Standby ------------------------ */
.gateway_status_button {
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    border: transparent;
    border-radius: 2px;
    font-size: 22px;
    font-weight: 400;
    color: #9B9B9B;
    margin-top: 10px;
}

.gateway_status_button.selected {
    background-color: #4CDC6C;
    color: white;
}

.gateway_status_button[disabled="disabled"] {
    background: #e2e2e2;
    opacity: 1;
}

.gateway_status_button:hover {
    color: #9B9B9B;
}

.gateway_status_button.selected:hover {
    color: white;
}

.gateway-alarm-status-div {
    height: 130px;
    margin-bottom: 25px;
    padding: 0;
}

.gateway-alarm-status.status-title {
    color: #525969;
    margin-top: 20px;
    margin-bottom: 0;
}

.gateway-alarm-status.status-sub-title {
    font-size: 12px;
    color: #9B9B9B;
}

.gateway-alarm-status.status-status-img {
    position: absolute;
    left: 0;
}

.gateway-alarm-status.status-status-text {
    font-size: 11px;
    color: #C7C7C7;
    position: absolute;
    left: 25px;
    top: 0;
    margin: 0;
}

.gateway-alarm-status.status-status-text.selected {
    color: #7ED321;
}

#gateway-status-timeline {
    position: relative;
    width: 86%;
    margin-left: 7%;
}

#gateway-status-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    left: 10px;
    height: 100%;
    width: 2px;
    background: #DEDEDE;
    margin-left: 17px;
    top: -12px;
}

.gateway-status-popover-view {
    width: 100%;
    box-shadow: none !important;
    margin-left: 0;
    left: 0 !important;
    background-color: transparent !important;
    top: 45px;
    margin-top: 12px !important;
}

.gateway-status-spinner {
    right: 15px;
    top: 8px;
    position: absolute;
    width: 25px;
    height: 25px;
}

.gateway-status-timer {
    /*right: 45px;
    top: 0px;
    position: absolute;
    width: 60px;
    font-size: 20px;
    color: white;
    font-weight: 300;*/
    right: 45px;
    top: 50%;
    position: absolute;
    width: 60px;
    /* height: 100%; */
    margin: 0;
    margin-top: -12px !important;
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.gateway-status-spinner svg {
    width: 25px;
    height: 25px;
}

.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.tab-list-item {
    border-style: none solid solid solid;
    border-width: 1px;
    background: transparent;
}

@-webkit-keyframes moving-gradient {
    0% {
        background-position: left bottom;
    }
    100% {
        background-position: right bottom;
    }
}

.quickaction-animation-item {
    /*width: 400px;*/
    /*height: 30px;*/
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    width: 400%;
    background: -webkit-linear-gradient(
            left,
            #6ECADE 0%,
            #bcecf7 50%,
            #6ECADE 100%
    ) repeat;

    -webkit-background-size: 50% 100%;
    -webkit-animation-name: moving-gradient;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.item-anim-selected {
    right: 75% !important;
    padding-right: 0.55% !important;
}

.item-anim {
    right: 0 !important;
    padding-right: 3% !important;
}

.item-note.selected {
    color: white;
}

.register-description.gateway-popup {
    position: relative;
    /*bottom: inherit;*/
    margin: 10% 5% 0;
}

.popup-gateway-status-error {
    color: red;
    margin-bottom: 20px;
}

.popup-gateway-sep {
    color: #979797;
    border: 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popup-gateway-subtitle {
    font-size: 17px;
    color: #525969;
    font-weight: 500;
}

/* Full screen image dialog */
.transparent {
    background: transparent !important;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .75;
    }

    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

/*   ----------- Camera Details Action Buttons ------------------*/
.camera-request-btn.blue {
    background-color: #6ECADE !important;
    border-color: #6ECADE;
}

.camera-request-btn {
    border-radius: 3px;
    color: white !important;
    width: 115px;
    padding: 0 8px;
    height: 60%;
    /*margin-top: 5px;*/
    min-height: 30px !important;

    margin-top: 5px;
    margin-bottom: 5px;
}

.camera-request-btn-image {
    position: absolute;
    margin: auto;
    display: block;
    /*left: 5%;*/
    height: 50%;
    -webkit-transform: translate(-0%, -55%);
    transform: translate(-0%, -55%);
}

.camera-request-btn-title {
    font-size: 12px !important;
    color: white;
    display: block;
    top: 50%;
    right: 10px;
    /* left: 32px; */
    /* margin-right: -50%; */
    position: absolute;
    margin: 0;
    -webkit-transform: translate(-10%, -55%);
    transform: translate(0%, -55%);
}

.stream-live-mark {
    background: #66cccc;
    color: white;
    left: 0;
    top: 0;
    position: absolute;
    font-size: 10px;
    padding: 2px 10px;
    /* font-family: avenir; */
    font-family: "Avenir";
    margin-top: 10px;
    margin-left: 10px;

}

.stream-live-mark.modal-dialog {
    /*rotate*/
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    top: 8px;

}

.photo-cam-spinner {
    margin: auto;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-0%, -55%);
    transform: translate(-0%, -55%);
}

.nav-clear-back-button {
    width: 33px;
}

/* --------------------- POPUP Alarm Volume ------------------- */
.popup-alarm-volume-text {
    font-size: 12px;
    padding: 0;
    color: #1A1A1A;
}

/* Tutorial Standby Button*/

.tutorial-gateway-button {
    width: 80px;
    height: 36px;
    border-radius: 4px;
    background-color: #4CDC6C;
    border-color: transparent;
    min-height: 30px;
    margin: 25px 5px 5px;
}

.tutorial-alerts-button {
    width: 80px;
    /*margin: 5px;*/
    height: 36px;
    border-radius: 4px;
    background-color: #6ECADE;
    border-color: transparent;
    min-height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 20px;
}

.tutorial-text {
    margin-left: 5%;
    /*font-size: 19px;*/
    width: 90%;
    color: white !important;
}

.tutorial-text.main-title {
    font-size: 19px;
    font-weight: 600;
    /*line-height: 1.5;*/
}

.tutorial-text.main-title.alerts-title {
    text-align: right;
    margin-top: 25%;
    width: 70%;
    margin-left: 25%;
    /*line-height: 1.4;*/
}

.tutorial-text.sub-title {
    font-size: 17px;
    font-weight: 600;
}

.tutorial-text.desc-text {
    font-size: 13px;
    /*line-height: 1.4;*/
    opacity: 0.9;
    color: #EBEBEB !important;
}

.tutorial-separator {
    border: 1px solid;
    height: 1px;
    color: #7A7A7A;
    width: 90%;
    margin: 8% 5%;
}

.gateway-offline-banner {
    background-color: #D0021B;
    color: white;
    padding: 8px;
    text-align: center;
    height: 36px;
    font-weight: 500;
}

.reestablishing-connection-banner {
    background-color: #2F2F2F;
    color: white;
    padding: 8px;
    text-align: center;
    height: 36px;
    font-weight: 500;
    z-index: 1;
    position: relative;
    top: -40px;
    width: 100%;
    display: block;
    animation-delay: .3s;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-name: banner;
    -webkit-animation-delay: .3s;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-name: banner;
}

@keyframes banner {
    0% {
        top: -40px;
    }
    25% {
        top: 0;
    }
    50% {
        top: 0;
    }
    75% {
        top: 0;
    }
    100% {
        top: -40px;
    }
}

@-webkit-keyframes banner {
    0% {
        top: -40px;
    }
    25% {
        top: 0;
    }
    50% {
        top: 0;
    }
    75% {
        top: 0;
    }
    100% {
        top: -40px;
    }
}

.quickaction-right-icon {
    padding: 0 0 0 20px;
    border: 1px none #45ABC1;
    border-left-style: solid;
    height: 100% !important;
    /*top: 15%  !important;*/
    top: 0;
    background-color: #45ABC1;
    font-size: 25px;
}

.fullscreen_image {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

    position: absolute;
}

.profilestart-select {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -7px;
    /* right: 0; */
    /* padding: 14px 48px 16px 16px; */
    /* max-width: 65%; */
    min-width: 130px;
    max-width: 130px;
    border: none;
    background: #fff;
    color: #333;
    text-indent: 0.01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 16px;
    cursor: pointer;
    font-family: Avenir;
}

.new-device-separator {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #979797;
}

.new-device-streaming-button-img {
    position: absolute;
    right: 10px;
    margin-top: 4px;
    height: 80%;
}

.angucomplete-dropdown {
    position: relative;
}

videogular vg-overlay-play .overlayPlayContainer, [videogular] vg-overlay-play .overlayPlayContainer {
    opacity: 1 !important;
}

videogular .iconButton, [videogular] .iconButton {
    font-size: 13px;
    width: 100%;
}

videogular vg-overlay-play .play:before, [videogular] vg-overlay-play .play:before {
    border: 4px solid;
    border-radius: 50%;
    padding: 8px 7px 8px 9px;
}