div(style='', ng-init='timeline_init()')
    ion-refresher(pulling-text='New Timeline Events...', on-refresh='doRefresh()')
    section#abode-timeline(ng-if='timelines.length > 0')
        .list(style='background: transparent; margin-top: 1px')
            a.tab-list-item.item.item-avatar(style='background: transparent; padding-left:0; padding-right:0;', ng-repeat='time_item in timelines' ng-init="getUserInfo(time_item.userid)")
                // <img ng-src="{{time_item.img}}">
                .list_icon_div(style="border-color: {{time_item.color}}; background-color:{{time_item.color=='#b83d3d' ? time_item.color : 'white'}};")
                    img.list_icon_image(ng-src='{{url(time_item.icon)}}', ng-if='!time_item.userid')
                    img.user.list_icon_image(ng-src='{{user[time_item.userid].profile_pic}}', ng-if='time_item.userid', style='width:100%;height:100%;')
                div(style='padding-left: 72px; padding-right:16px; }}')
                    h2(style="color: {{time_item.color=='#ff0000' ? time_item.color : '#000'}}")
                        | {{time_item.device_event}}&nbsp;
                        span(ng-if="time_item.userid" style="color: #666") {{user[time_item.userid].name}}
                    p(style="color: {{time_item.color=='#ff0000' ? time_item.color : '#666'}}") {{time_item.date_time}} {{time_item.apptype}}
                div(style='width:100%; height:auto; margin-top: 5%;', ng-if="time_item.files.length > 0 && time_item.files[0].thumbnailPath != ''")
                    video(style='width: 100%;', controls, preload='metadata', ng-attr-poster='{{time_item.files[0].thumbnailPath}}')
                        source(ng-src='{{time_item.files[0].videoPath}}', type='video/mp4')
                //img(ng-src='{{time_item.image_path}}', style='width:100%; height:auto; margin-top: 5%;', ng-if="time_item.files.length > 0 && time_item.files[0].thumbnailPath == ''", imageonload='', ng-click='openModal(time_item.image_path)')
                div(ng-if='time_item.file_count <= 1 && time_item.file_path && time_item.device_type_id == "27"')
                    .alarm_list_capture_div
                        img.alarm_list_capture_img(ng-src='{{url(time_item.file_path)}}', ng-click='openModal(url(time_item.file_path))')
                div(style='text-align: center;')
                    .alarm_list_capture_div(ng-if='time_item.file_count > 1', ng-repeat='file in time_item.files', style='width: 32%;padding: 5px;display: inline-block;')
                        img.alarm_list_capture_img(ng-if='time_item.device_type_id == "27"', ng-src='{{file.videoPath}}', ng-click='openModal(file.videoPath)')
    ion-infinite-scroll(on-infinite='nextPageLoad()', spinner='bubbles', distance='25%')
