ion-popover-view.gateway-status-popover-view()
    section#gateway-status-timeline
        div(style='height: 10px;')
        .button.gateway_status_button.gateway-alarm-status-div
            h3.gateway-alarm-status.status-title  Alarm Status
                .row
                    .col(align='left')
                        h4.gateway-alarm-status.status-sub-title  Motion Detection
                        div(style='position: relative;')
                            img.gateway-alarm-status.status-status-img(ng-src="assets/img/gateway_status/{{alarm_status.motion == 1 ? 'status_enable.png' : 'status_disable.png'}}")
                            h4(ng-class="alarm_status.motion == 0 ? 'gateway-alarm-status status-status-text' : 'gateway-alarm-status status-status-text selected'")  {{alarm_status.motion == 0 ? "Disabled" : "Enabled"}}
                    .col(align='left')
                        h4.gateway-alarm-status.status-sub-title  Door/Window Sensors
                        div(style='position: relative;')
                            img.gateway-alarm-status.status-status-img(ng-src="assets/img/gateway_status/{{alarm_status.sensor == 1 ? 'status_enable.png' : 'status_disable.png'}}")
                            h4(ng-class="alarm_status.sensor == 0 ? 'gateway-alarm-status status-status-text' : 'gateway-alarm-status status-status-text selected'")   {{alarm_status.sensor == 0 ? "Disabled" : "Enabled"}}

        button.button.gateway_status_button(ng-class='{"selected": gateway.mode.area_1 == "away"}', ng-click='functions.setMode("away")', ng-disabled='vm.newMode')
            ion-spinner.gateway-status-spinner(icon='circles', ng-show='vm.newMode == "away"')
            h3.gateway-status-timer(ng-show="area_type == 'away'")  {{away_timer | timersecond}}
            | Away
        button.button.gateway_status_button(ng-class='{"selected": gateway.mode.area_1 == "home"}', ng-click='functions.setMode("home")', ng-disabled='vm.newMode')
            ion-spinner.gateway-status-spinner(icon='circles', ng-show='vm.newMode == "home"')
            h3.gateway-status-timer(ng-show="area_type == 'home'")  {{home_timer | timersecond}}
            | Home
        button.button.gateway_status_button(ng-class='{"selected": gateway.mode.area_1 == "standby"}', ng-click='functions.setMode("standby")', ng-disabled='vm.newMode')
            ion-spinner.gateway-status-spinner(icon='circles', ng-show='vm.newMode == "standby"')
            | Standby

    //section#gateway-status-timeline
        div(style='height: 10px;')
        .button.gateway_status_button.gateway-alarm-status-div(ng-click="onClickStatus('away')")
            h3.gateway-alarm-status.status-title  Alarm Status
            .row
