div
    h3.register-description.gateway-popup.register-popup-title
        | {{gateway_error_type}} Mode
    h5.register-description.register-popup-desc.popup-gateway-status-error  (with Fault)
    h5.register-description.register-popup-desc
        | Your system has been armed however there was a fault.
    //div {{gatewayError}}
    div(ng-repeat='val in title', ng-if='val.message.indexOf("tempered") < 0', style='text-align: center;color:red;') {{val.message}}
    .popup-gateway-sep
    h5.register-description.register-popup-desc.popup-gateway-subtitle
        | You can:
    h5.register-description.register-popup-desc
        | Ignore the Error or Correct the Error and Disarm/Arm Again.
    div(style='height: 25px')
