.modal.image-modal.transparent(ng-click='closeModal()')
    ion-pane.transparent
        // <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
        div(ng-if="camera.stream == '1'")
            img.fullscreen_image(ng-show='streaming && errorCounter == 0', ng-src='{{url1 | ifEmpty: camera.sel_event.image_path}}', img-load='onImageLoad(1)', img-error='onImageError(1)', style='width: {{image_dialog_res.width}}; height: {{image_dialog_res.height}}px; left: {{image_dialog_res.left}}; top: {{image_dialog_res.top}};')
            .stream-live-mark.modal-dialog(ng-show="camera.stream == '1' && image_loaded == 1", style='left: {{image_dialog_res.height - 60}}px;')
                | LIVE
        div(ng-if="camera.stream != '1'")
            img.item-camera-img.fullscreen_image(ng-src="{{showImage || camera.sel_event.image_path | ifEmpty: 'assets/img/camera_images/screen-capture1.png'}}", img-load='onMotionCamImageLoad()', img-error='onMotionCamImageLoad()', style='width: {{image_dialog_res.width}}; height: {{image_dialog_res.height}}px; left: {{image_dialog_res.left}}; top: {{image_dialog_res.top}};')
