.modal.image-modal.transparent
    ion-pane.transparent
        // <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
        ion-slide-box(show-pager='true', on-slide-changed='slideHasChanged($index)', auto-play='false', style='height: 100%;')
            ion-slide
                button.button.tutorial-gateway-button
                    img.abode-nav-button-image(src='assets/img/Quick Actions/standby-icon.png')
                    h3.abode-nav-button-title  {{vm.gateway.area1 | capitalize | ifEmpty:'Standby'}}
                h2.tutorial-text.main-title  Tap the Mode button to change your alarm system status
                .tutorial-separator
                h3.tutorial-text.sub-title  Standby:
                h4.tutorial-text.desc-text  The system is online and waiting for commands.
                h3.tutorial-text.sub-title  Home:
                h4.tutorial-text.desc-text
                    | Secures the perimeter of your home by activating the door/window
                    | sensors. Interior motion detection is disabled.
                h3.tutorial-text.sub-title  Away:
                h4.tutorial-text.desc-text
                    | Fully arms and secures the perimeter and interior by enabling
                    | door/window sensors and motion detection.
                button.button-next(ng-click='nextSlide()') Next >
            ion-slide
                button.button.tutorial-alerts-button
                    img.abode-nav-button-image(src='assets/img/Quick Actions/alerts-icon.png')
                    h3.abode-nav-button-title.blue-button-title  Alerts
                h2.tutorial-text.main-title.alerts-title
                    | The Alerts button allows you to easily see any new alarms or faults that require your attention.
                button.button-next(ng-click='nextSlide()') Next >
            ion-slide
                img(src='assets/img/guide/guide_3.png', style='width:100%; margin-top: 65px;')
                button.button-next(ng-click='nextSlide()') Next >
            ion-slide
                h2.tutorial-text.main-title(style='margin-top:55%; margin-bottom: 10%')
                    | Quick Actions enables
                    | you to control individual devices or group home commands together.
                a.button.abode-button(style='font-size:22px', ng-click='vm.closeModal();')
                    | Tap to Dismiss
