h5.register-description.volume-popup
    | Alarm Volume
div
    img(src='assets/img/Settings/no_vol.png', style='margin:auto; display:block; max-width: 10%', ng-if='volume.value==0')
    img(src='assets/img/Settings/alarm_vol.png', style='margin:auto; display:block; max-width: 10%', ng-if='volume.value!=0')
.item.range(style='background-color: transparent; border-color: transparent; padding: 0px 8px; height: 30px; margin-top: 10px;')
    input(type='range', min="0" max="2" name='volume', style='height: 30px;', ng-model='volume.value')
.row(style='padding: 0; margin: 0; width: 90%; margin-left: 5%;')
    .col.popup-alarm-volume-text
        | Off
    .col.popup-alarm-volume-text(style='text-align: center;')
        | Low
    .col.popup-alarm-volume-text(style='text-align: right;')
        | High
