h5.register-description.volume-popup
    | {{title}}
div(style='height: 1px; width: 100px;background: grey;margin: 0 auto;')
ul(style='padding: 15px 35px;')
    li {{subTitle[0].text}}
    li(ng-repeat='val in subTitle', style='list-style: initial;margin-left: 20px;', ng-if='$index != 0') {{val.text}}