h5.register-description.volume-popup
    | Are you sure you want to call 911? Your phone will call 911
    //| Abode will route your call to the San Francisco Police Dept.
//
  <div class="row alarm_popup_button_div" >
  <a class="button abode-green-button alarm_popup_gray">
  Go Back
  </a>
  <a class="button abode-green-button alarm_popup_red">
  Call 911
  </a>
  </div>
