div
    h3.register-description.register-popup.register-popup-title Verifying Email
    .button-icon.icon.ion-android-close.register-close-btn(ng-click='vm.login()')
    h4.register-description.register-popup.register-popup-email(ng-bind='email')
    h5.register-description.register-popup-desc Please check your e-mail and click on the confirmation link to continue.