//div
    h3.register-description.register-popup.register-popup-title Streaming Camera
ion-modal-view.camera-setup-popup
    ion-header-bar
        h1.title Streaming Camera
    //ion-content(scroll='false')
    button.button.button-block.abode-button(ui-sref='setupDeviceAddCamera') Setup Device
    a.button.button-block.abode-green-button(href='http://store.goabode.com/products/streaming-camera', target='_blank', style='width: 100%;') Buy Now