div
    h3.register-description.register-popup.register-popup-title(ng-bind='popup.title', style='margin-bottom: 10px; margin-top: 15px;')
    h5.register-description.register-popup-desc(ng-bind-html='popup.message')