doctype
html
    include components/_global/templates/_header
    body(ng-app="app")
        //ion-nav-bar
            ion-nav-back-button
        ion-nav-view(animation='slide-left-right')
        include components/_global/templates/_footer