ion-view.setup-page
    ion-nav-bar
        ion-nav-back-button.light
    //.buttons(side='left')
        button.button.button-clear.no-animation.nav-clear-back-button(ng-click="$ionicGoBack()")
            i.ion-chevron-left
    ion-content.main-container(scroll='false', style='top: 0;')
        div(style='height: 60%; background-color: #6ECADE;')
            h1.start-message.choose-title
                | Thanks for choosing
                br
                span(style='font-size: 36px;') abode!
            h2.start-message.choose-desc You are one step closer to securing your home.
        div(style='height: 40%;')
            img.choose-image-view(src='assets/img/welcome/welcome_abode.png')
            h2.start-message.gateway-desc(style='top: -20%; position: relative;') Let’s setup your starter kit.
            .button.abode-button(ui-sref='setupGateway', style='bottom:15px; position:absolute;') Continue