ion-view(title='Add Door/Window Sensor')
    ion-nav-bar
        ion-nav-back-button(style='display: block;', ng-click="vm.previousWindow()")

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 1')
        h1.start-message.step-title(style='padding-top: 10%;')  Step 1
        h2.start-message.cam-desc
            | Will this sensor be used on a
            br
            |  Door or Window?
        div(style='margin-top: 15%;')
            button(ng-class="vm.edited[vm.deviceId].type == 'Door' ? 'abode-item-list selected abode-button' : 'abode-item-list abode-button' ", ng-click='vm.setAsType("Door")')
                h3.abode-button-title.stream-list-title  Door Sensor
                img.abode-button-image.window-list-img(src='assets/img/Add Door or windows sensor/door-sensor.png')
            button(ng-class="vm.edited[vm.deviceId].type == 'Window' ? 'abode-item-list selected abode-button' : 'abode-item-list abode-button' ", style='margin-top: 10px;', ng-click='vm.setAsType("Window")')
                h3.abode-button-title.stream-list-title  Window Sensor
                img.abode-button-image.window-list-img(src='assets/img/Add Door or windows sensor/window-sensor.png')
        //a.button.abode-button(style='bottom:15px; position:absolute;', ng-click="vm.nextWindow(2)")
            | Continue

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 2')
        h1.start-message.step-title(style='padding-top: 1%;')  Step 2
        h2.start-message.cam-desc(style='margin-top:1%; width: 80%; margin-left: 10%;')
            | Pull out the Clear
            | Plastic Battery Tab from the back.
        .gateway-img-div(style='height:18%')
            img.img-welcome-logo.addcam-main-img(src='assets/img/Add Motion Camera/remove battery tab.png')
        h1.start-message.step-title(style='margin-top: 3%;')  Step 3
        h2.start-message.cam-desc(style='margin-top:1%;')  Mount the Sensor
        .videogular-container
            video(style='width: 100%;', controls, preload='metadata')
                source(src='http://www.w3schools.com/html/mov_bbb.mp4', type='video/mp4')
                source(src='http://www.w3schools.com/html/mov_bbb.ogg', type='video/ogg')
            //videogular(vg-theme='controller.config.theme')
                vg-media(vg-src='controller.config.sources', vg-tracks='controller.config.tracks')
                vg-controls
                    vg-play-pause-button
                    vg-time-display {{ currentTime | date:'mm:ss' }}
                    vg-scrub-bar
                        vg-scrub-bar-current-time
                    vg-time-display {{ timeLeft | date:'mm:ss' }}
                    vg-volume
                        vg-mute-button
                        vg-volume-bar
                    vg-fullscreen-button
                //vg-overlay-play
                    img(src='assets/img/Add Motion Camera/remove battery tab.png')
                vg-poster(vg-url='controller.config.plugins.poster')
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='(vm.newDevice) ? vm.nextWindow(-1) : vm.nextWindow(3)')
            | Continue

    .main-container(ng-if='vm.currentStep == 3')
        ion-content(style='top: 0;')
            .gateway-img-div(style='margin-top: 20%;')
                img.img-welcome-logo.gateway-main-img(ng-src='assets/img/Add Door or windows sensor/Add {{vm.edited[vm.deviceId].type || "Door"}} Sensor.png')
            label.abode-underline-label.gateway-desc-label.item.item-input
                // <input type="text" placeholder="First Name">
                | Label Your {{vm.edited[vm.deviceId].type || "Door"}} Sensor
            label.abode-underline-label.item.item-input(style='margin-top:10px;')
                input.gateway-desc-input(type='text', placeholder='e.g. Front {{vm.edited[vm.deviceId].type || "Door"}} ', ng-model='vm.edited[vm.deviceId].name')
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.updateDeviceContact(vm.edited[vm.deviceId])')
            | Continue

    .main-container(ng-if='vm.currentStep == -1')
        ion-content(style='top: 0;')
            h2.start-message.gateway-desc-small
                .padding Press and Hold the button on the front of the camera for 10 seconds, then release.
            .gateway-img-div
                img.img-welcome-logo.gateway-small-img(src='../assets/img/Add Door or windows sensor/extra setup - door/window sensor - 02.png', style='width: 25%;')
            h2.start-message.gateway-desc-small  Searching for Device...
            //br
            //ion-spinner.gateway-spinner
        a.button.abode-button.highlight(style='bottom:15px; position:absolute;', ng-if='vm.deviceId != "new"')
            | Door/Window Sensor
            br
            | {{vm.deviceId}}