ion-view(title='Add Motion Camera')
    ion-nav-bar
        ion-nav-back-button(style='display: block;', ng-click="vm.previousWindow()")

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 1')
        h1.start-message.step-title(style='padding-top: 1%;')  Step 1
        h2.start-message.cam-desc(style='margin-top:1%;')  Remove Clear Plastic Battery Tab
        .gateway-img-div(style='height:18%')
            img.img-welcome-logo.addcam-main-img(src='assets/img/Add Motion Camera/remove battery tab.png')
        h1.start-message.step-title(style='margin-top: 3%;')  Step 2
        h2.start-message.cam-desc(style='margin-top:1%;')  Mount the Camera
        .videogular-container
            video(style='width: 100%;', controls, preload='metadata')
                source(src='http://www.w3schools.com/html/mov_bbb.mp4', type='video/mp4')
                source(src='http://www.w3schools.com/html/mov_bbb.ogg', type='video/ogg')
            //videogular(vg-theme='controller.config.theme')
                vg-media(vg-src='controller.config.sources', vg-tracks='controller.config.tracks')
                vg-controls
                    vg-play-pause-button
                    vg-time-display {{ currentTime | date:'mm:ss' }}
                    vg-scrub-bar
                        vg-scrub-bar-current-time
                    vg-time-display {{ timeLeft | date:'mm:ss' }}
                    vg-volume
                        vg-mute-button
                        vg-volume-bar
                    vg-fullscreen-button
                vg-overlay-play
                    img(src='assets/img/Add Motion Camera/remove battery tab.png')
                vg-poster(vg-url='controller.config.plugins.poster')
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='(vm.newDevice) ? vm.nextWindow(-1) : vm.nextWindow(2)')
            | Continue

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 2')
        h1.start-message.step-title(style='padding-top: 10%;')  Step 3
        .gateway-img-div()
            img.img-welcome-logo.addcam-main-img(src='assets/img/Add Motion Camera/Camera.png', style='width: 50%; margin-top: 5%; margin-bottom: 5%;')
        a.button.abode-button(ng-click='vm.snapPhoto()')
            | Snap some test photos
        a.button.abode-button.addcam-continue-btn(style='bottom:15px; position:absolute;', ng-click='vm.nextWindow(5)')
            | Skip

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 3')
        h1.start-message.step-title(style='margin-top: 0%; border: none;padding-top: 25%;')  Snapping Photos
        h2.start-message.cam-desc This process could take up to 1 minute for initial setup
        .gateway-img-div(style='height:25%;')
            img.img-welcome-logo.addcam-middle-img(src='assets/img/Add Motion Camera/snapping photos.png')
        ion-spinner.gateway-spinner
        a.button.abode-button.addcam-continue-btn(ng-if='vm.skipVisible', ng-click='vm.nextWindow(5)')
            | Skip
        a.button.abode-button.addcam-continue-btn(ng-click='vm.snapCancel()')
            | Cancel

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 4')
        //h1.start-message.step-title(style='border: none; padding-top:10%;')  Photo 1
        h1.start-message.step-title(style='padding-top: 10%;')
        .gateway-img-div
            img.img-welcome-logo.addcam-round-img(ng-src='{{vm.capturedPicture}}')
            a.button.abode-button(ng-click='vm.snapPhoto()') Retry
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.nextWindow(5)')
            | Continue

    .main-container(ng-if='vm.currentStep == 5')
        ion-content(style='top: 0;')
            .gateway-img-div(style='margin-top: 20%;')
                img.img-welcome-logo.gateway-main-img(src='assets/img/Add Motion Camera/Motion Camera.png')
            label.abode-underline-label.gateway-desc-label.item.item-input
                | Label Your Motion Camera
            label.abode-underline-label.item.item-input(style='margin-top:10px;')
                input.gateway-desc-input(type='text', placeholder='e.g. Front Door Motion Camera', ng-model='vm.edited[vm.deviceId].name')
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.updateDeviceContact(vm.edited[vm.deviceId])')
            | Continue

    .main-container(ng-if='vm.currentStep == -1')
        ion-content(style='top: 0;')
            h2.start-message.gateway-desc-small
                .padding Press and Hold the button on the front of the camera for 10 seconds, then release.
            .gateway-img-div
                img.img-welcome-logo.gateway-small-img(src='../assets/img/Add Motion Camera/Extra Setup/extra setup - Motion Camera -  - 02.png', style='width: 25%;')
            h2.start-message.gateway-desc-small  Searching for Device...
            //br
            //ion-spinner.gateway-spinner
        a.button.abode-button.highlight(style='bottom:15px; position:absolute;', ng-if='vm.deviceId != "new"')
            | Motion Camera
            br
            | {{vm.deviceId}}