ion-view(title='Add Streaming Camera')
    ion-nav-bar
        ion-nav-back-button(style='display: block;', ng-click="vm.previousWindow()")

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 1')
        h1.start-message.step-title(style='padding-top: 10%;')  Step 1
        h2.start-message.cam-desc  Connect your Streaming Camera
        .gateway-img-div(style='height:50%')
            img.img-welcome-logo.addcam-main-img(src='assets/img/Add Streaming Camera/streamcam_step1.png')
        // <h1 class="start-message step-title" style="margin-top: 5%;"> Step 2 </h1>
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.nextWindow(2)')
            | Continue

    .main-container.add-code(ng-if='vm.currentStep == 2')
        ion-content(style='top: 0;')
            //
              <h1 class="start-message gateway-title"> Welcome to abode! </h1>
              <h2 class="start-message gateway-desc"> Follow this Tutorial and get up and running in 5 minutes </h2>
            h1.start-message.step-title(style='padding-top: 10%;')  Step 2
            .gateway-img-div
                img.img-welcome-logo.gateway-main-img(src='assets/img/Add Streaming Camera/ipcamv2.png')
            label.abode-underline-label.gateway-desc-label.item.item-input
                // <input type="text" placeholder="First Name">
                | Enter your Camera Activation Key
            label.abode-underline-label.item.item-input(style='margin-top:10px;')
                input.gateway-desc-input(type='text', placeholder='Activation Key', ng-model='vm.code')
            br
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.cameraActivate(vm.code)')
            | Continue

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 3')
        h1.start-message.step-title(style='padding-top: 10%;')  Error
        h2.start-message.cam-desc
            | You device is offline
            br
            | Please check power settings and try again
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.nextWindow(2)')
            | Cancel

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 4')
        h1.start-message.step-title(style='padding-top: 10%;')  Step 3
        h2.start-message.cam-desc(style='margin-left: 10%; width: 80%;')
            | Press and hold the
            b &nbsp;bottom-half&nbsp;
            | of the button on the right side of the camera for 10 seconds until you hear the gateway beep & then release
        .gateway-img-div(style='height:25%')
            img.img-welcome-logo.addcam-main-img(src='assets/img/Add Streaming Camera/handip.png')
        h2.start-message.gateway-desc-small  Searching for Device...
        br

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 5')
        h1.start-message.step-title(style='padding-top: 10%;')  Step 3
        h2.start-message.cam-desc
            | Now that your device is
            br
            |  connected, you can enable WiFi
            br
            |  streaming.
        .abode-stream-cont
            h2.start-message.cam-desc
                | Do you want to enable WiFi on
                br
                | this camera?
            button.abode-item-list.abode-button(ng-click='vm.setAsConnection("Ethernet")', ng-class="vm.edited[vm.deviceId].type == 'Ethernet' ? 'selected' : '' ")
                h3.abode-button-title.stream-list-title  Stick with Ethernet
                img.abode-button-image.stream-list-img(src='assets/img/Add Streaming Camera/ethernet-icon.png')
            button.abode-item-list.abode-button(style='margin-top: 10px;', ng-click='vm.setAsConnection("Wifi")', ng-class="vm.edited[vm.deviceId].type == 'Wifi' ? 'selected' : '' ")
                h3.abode-button-title.stream-list-title  Enable Wifi
                img.abode-button-image.stream-list-img(src='assets/img/Add Streaming Camera/wifi-icon.png')
        //a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.cameraChooseConnection(vm.edited[vm.deviceId].type)')
            | Continue

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 6')
        h1.start-message.step-title(style='padding-top: 10%;')  Step 5
        h2.start-message.cam-desc Select your WiFi Network

        ion-scroll(style='height: 55%;')
            .list.list-inset
                .item(ng-show='!vm.wifis.length', style='border-width: 1px 0 0 0;')
                    style.
                        ion-spinner svg{
                            width: 100px!important;
                            height: 100px!important;
                        }
                    br
                    br
                    ion-spinner(style='text-align: center;display: block;')
                    br
                    h2(style='text-align:center;font-size:20px;') Scanning networks…
                .item.item-icon-right(ng-click='vm.cameraChooseNetwork(val)', ng-repeat='val in vm.wifis', style='border-width: 1px 0 0 0;')
                    | {{val.ssid}}
                    i.icon.ion-wifi

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 7')
        h1.start-message.step-title(style='padding-top: 10%;')  Step 5
        label.abode-underline-label.gateway-desc-label.item.item-input(style='text-align: center;display: block; margin-top: 10%;')
            | Enter Password
        label.abode-underline-label.item.item-input(style='margin-top:10px;')
            input.gateway-desc-input(type='password', ng-model='vm.wifi.password', placeholder='e.g. My Wifi Password')
        a.button.abode-button(ng-click='vm.cameraChoosePassword(vm.wifi.password)', style='bottom:15px; position:absolute;')
            | Continue

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 8')
        div(style='padding-top: 10%;')
        .gateway-img-div(style='padding-top: 10%;')
            img.img-welcome-logo.gateway-main-img(src='assets/img/subscription/pay_success.png', style='width: 80px;')
        h2.start-message  WiFi Connected
        h2.start-message.cam-desc  You may now disconnect Ethernet cable and move the camera to the desired location
        hr
        h2.start-message.cam-desc  Quick Tutorial - Mount Your Camera
        .videogular-container
            video(style='width: 100%;', controls, preload='metadata')
                source(src='http://www.w3schools.com/html/mov_bbb.mp4', type='video/mp4')
                source(src='http://www.w3schools.com/html/mov_bbb.ogg', type='video/ogg')
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.nextWindow(9)')
            | Continue

    ion-content.main-container(scroll='false', style='top: 0;', ng-if='vm.currentStep == 10')
        div(style='padding-top: 10%;')
        .gateway-img-div(style='padding-top: 10%;')
            img.img-welcome-logo.gateway-main-img(src='assets/img/subscription/pay_success.png', style='width: 80px;')
        h2.start-message  Connected to Ethernet
        h2.start-message.cam-desc  You can now move your camera to the desired location
        hr
        h2.start-message.cam-desc  Quick Tutorial - Mount Your Camera
        .videogular-container
            video(style='width: 100%;', controls, preload='metadata')
                source(src='http://www.w3schools.com/html/mov_bbb.mp4', type='video/mp4')
                source(src='http://www.w3schools.com/html/mov_bbb.ogg', type='video/ogg')
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.nextWindow(9)')
            | Continue

    .main-container(ng-if='vm.currentStep == 9')
        ion-content(style='top: 0;')
            .gateway-img-div(style='margin-top: 20%;')
                img.img-welcome-logo.gateway-main-img(src='assets/img/Add Streaming Camera/streaming camera.png')
            label.abode-underline-label.gateway-desc-label.item.item-input
                // <input type="text" placeholder="First Name">
                | Label Your Streaming Camera
            label.abode-underline-label.item.item-input(style='margin-top:10px;')
                input.gateway-desc-input(type='text', placeholder='e.g. Entryway Camera', ng-model='vm.edited[vm.deviceId].name')
        a.button.abode-button(style='bottom:15px; position:absolute;', ng-click='vm.updateDeviceContact(vm.edited[vm.deviceId])')
            | Continue